AnaliziFinance.json
{
  "name": "AnaliziFinance",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxRetries": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1920,
        704
      ],
      "id": "5ece32b2-af30-4701-a80f-5ceaaeee6f31",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SyI2pOUeSfbt1JRh",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "08c6bf39-0175-4ea4-b6b2-ff55962b1900",
      "name": "Telegram Bot Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -3440,
        560
      ],
      "webhookId": "b8605f3e-0f52-4ffc-a4c9-1728eb0e09e2",
      "credentials": {
        "telegramApi": {
          "id": "Nb8jQBRgnrgZzmCF",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "2b54b4dd-746c-4193-a52d-68bc9e10d3d8",
      "name": "Message Type Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2656,
        560
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "56af8151-e0b4-457f-825d-37821cb497dc",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2320,
        384
      ],
      "webhookId": "8fa0a59a-be53-4897-83bb-5b18ed71b529",
      "credentials": {
        "telegramApi": {
          "id": "Nb8jQBRgnrgZzmCF",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "e16713aa-8d23-4371-9db5-670c77f0f7bd",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -2112,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "SyI2pOUeSfbt1JRh",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6af7fa1-c31a-4514-ae63-397699bf8b21",
              "name": "text",
              "value": "={{ $('Telegram Bot Trigger').first().json.message.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        624
      ],
      "id": "b097323e-56c4-460b-a40e-e8da167213a5",
      "name": "Prepare Text Data"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Telegram Bot Trigger').first().json.message.message_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1712,
        608
      ],
      "id": "0f3cb388-fccf-4ef3-a32a-55d6d9941290",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n\n",
        "options": {
          "systemMessage": "=\nТы — универсальный финансовый помощник для бизнеса и личных финансов в Кыргызстане.\nТвоя задача — понимать команды пользователя и вносить данные в базу данных о расходах, доходах, или выполнять анализ по истории.\nВалюта по умолчанию: сом (KGS)\nСегодняшняя дата {{ new Date().toLocaleString('ru-RU', { timeZone: 'Asia/Bishkek', day: '2-digit', month: '2-digit', year: 'numeric' }) }}\n\n---\n💸 РАСХОДЫ: если пользователь говорит про трату/покупку\nВызывай инструмент Add_expense и обязательно возвращай объект:\n{\n  \"date\": \"ДД.ММ.ГГГГ\",\n  \"category\": \"...\",\n  \"amount\": ... ,\n  \"description\": \"...\",\n  \"operation_type\": \"расход\",\n  \"source\": \"telegram\"\n}\n\n💰 ДОХОДЫ: если пользователь говорит про поступление денег\nВызывай инструмент Add_income и обязательно возвращай объект:\n{\n  \"date\": \"ДД.ММ.ГГГГ\",\n  \"category\": \"...\",\n  \"amount\": ... ,\n  \"description\": \"...\",\n  \"operation_type\": \"доход\",\n  \"source\": \"telegram\"\n}\n\n---\nВАЖНО: После каждого успешного действия всегда возвращай объект с этими параметрами для записи в базу. НЕ добавляй лишние поля.\n\n✅ После успешного действия, верни ответ в Telegram:\n\"Операция успешно добавлена: [данные]\"\nили\n\"Анализ завершён: [результат]\"\n\n...existing code..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1616,
        256
      ],
      "id": "f6f80ca7-f56d-446e-8349-217399bf55f5",
      "name": "Financial Assistant",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Bot Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Telegram Bot Trigger').first().json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        64
      ],
      "id": "2358802e-ef52-4ae4-8109-e354e5e58545",
      "name": "Send Telegram Response",
      "webhookId": "a2f9609c-4b7a-4d51-aaa6-c889f56aefc9",
      "credentials": {
        "telegramApi": {
          "id": "Nb8jQBRgnrgZzmCF",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH monthly_data AS (\n  SELECT \n    category,\n    COUNT(*) as transaction_count,\n    SUM(amount) as total_amount,\n    AVG(amount) as avg_amount\n  FROM income\n  WHERE user_id = {{ $json.user_id }}\n    AND TO_CHAR(date, 'YYYY-MM') = '{{ $json.year_month }}'\n    {{ $json.category ? \"AND category = '\" + $json.category + \"'\" : \"\" }}\n  GROUP BY category\n  ORDER BY total_amount DESC\n)\nSELECT \n  *,\n  (SELECT SUM(total_amount) FROM monthly_data) as grand_total\nFROM monthly_data;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1312,
        1152
      ],
      "id": "dbf117bd-78cc-4cb2-80c1-e08a8de732dc",
      "name": "Анализ доходов",
      "credentials": {
        "postgres": {
          "id": "3CGZzcUsaAWp8nrl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9af39ade-d2ac-4587-b4cd-bccb18fece32",
              "leftValue": "={{ $json.type }}",
              "rightValue": "расход",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1664,
        1072
      ],
      "id": "5c2c08ec-5d19-486c-8356-0033a6f970aa",
      "name": "Проверка типа"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH monthly_data AS (\n  SELECT \n    category,\n    COUNT(*) as transaction_count,\n    SUM(amount) as total_amount,\n    AVG(amount) as avg_amount\n  FROM expenses\n  WHERE user_id = {{ $json.user_id }}\n    AND TO_CHAR(date, 'YYYY-MM') = '{{ $json.year_month }}'\n    {{ $json.category ? \"AND category = '\" + $json.category + \"'\" : \"\" }}\n  GROUP BY category\n  ORDER BY total_amount DESC\n)\nSELECT \n  *,\n  (SELECT SUM(total_amount) FROM monthly_data) as grand_total\nFROM monthly_data;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1312,
        1008
      ],
      "id": "f74d29f4-67ad-477e-89d4-e47a5cf7be2b",
      "name": "Анализ расходов",
      "credentials": {
        "postgres": {
          "id": "3CGZzcUsaAWp8nrl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (user_id, username, first_name, last_name, telegram_chat_id)\nVALUES (\n  {{ $json.message.from.id }},\n  '{{ $json.message.from.username || \"\" }}',\n  '{{ $json.message.from.first_name || \"\" }}',\n  '{{ $json.message.from.last_name || \"\" }}',\n  {{ $json.message.chat.id }}\n)\nON CONFLICT (user_id) \nDO UPDATE SET \n  username = EXCLUDED.username,\n  last_activity = NOW()\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3184,
        576
      ],
      "id": "beeede9f-78f3-453c-bfc8-3048ab2b300a",
      "name": "Регистрация/обновление пользователя",
      "credentials": {
        "postgres": {
          "id": "3CGZzcUsaAWp8nrl",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cb77ab8-f045-4576-b673-6ead0a3a5da6",
              "name": "message",
              "value": "={{ $node[\"Telegram Bot Trigger\"].json[\"message\"] || {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2960,
        560
      ],
      "id": "c33b6a13-7197-4a1c-92b4-06a0ae940114",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const dateStr = $fromAI('date');\nconst [day, month, year] = dateStr.split('.');\nconst sqlDate = `${year}-${month}-${day}`;\n\nconst userId = $node[\"Telegram Bot Trigger\"].json[\"message\"][\"from\"][\"id\"];\n\nreturn {\n  json: {\n    user_id: userId,\n    date: sqlDate,\n    category: $fromAI('category'),\n    amount: parseFloat($fromAI('amount')),\n    description: $fromAI('description') || '',\n    operation_type: 'доход',\n    source: 'telegram'\n  }\n};"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1680,
        864
      ],
      "id": "fb6dd251-e07b-4cf3-8ef4-ec11378aeb28",
      "name": "Income_preparation"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO income (user_id, date, category, amount, description, operation_type, source)\nVALUES (\n  {{ $json.user_id }},\n  '{{ $json.date }}',\n  '{{ $json.category }}',\n  {{ $json.amount }},\n  '{{ $json.description }}',\n  'доход',\n  'telegram'\n)\nRETURNING id, date, category, amount, description;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -1520,
        720
      ],
      "id": "60a4aa55-2039-405f-b04d-cca8c107caa6",
      "name": "Add_income",
      "credentials": {
        "postgres": {
          "id": "3CGZzcUsaAWp8nrl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Преобразование месяца в номер\nconst monthNames = {\n  'январь': '01', 'февраль': '02', 'март': '03',\n  'апрель': '04', 'май': '05', 'июнь': '06',\n  'июль': '07', 'август': '08', 'сентябрь': '09',\n  'октябрь': '10', 'ноябрь': '11', 'декабрь': '12'\n};\n\nconst month = $fromAI('month').toLowerCase();\nconst monthNum = monthNames[month] || '10';\nconst year = new Date().getFullYear();\nconst yearMonth = `${year}-${monthNum}`;\n\nconst userId = $node[\"Telegram Bot Trigger\"].json[\"message\"][\"from\"][\"id\"];\nconst type = $fromAI('type'); // \"доход\" или \"расход\"\nconst category = $fromAI('category') || null;\n\nreturn {\n  json: {\n    user_id: userId,\n    year_month: yearMonth,\n    type: type,\n    category: category,\n    month_name: month\n  }\n};"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1360,
        752
      ],
      "id": "f64b49d6-b13c-4b82-a116-1b228797a435",
      "name": "Parsing_of_the_month"
    },
    {
      "parameters": {
        "name": "Add_expense_prepare",
        "description": "Добавляет расход в базу данных. Вызывай этот инструмент когда пользователь сообщает о покупке или трате денег. ОБЯЗАТЕЛЬНО передай все параметры: date (дата в формате ДД.ММ.ГГГГ, например 29.10.2025), category (категория расхода, например 'аренда офиса'), amount (сумма в числовом формате, например 15000), description (описание операции, например 'Ежемесячная аренда').",
        "jsCode": "// Получаем параметры от AI\nconst dateStr = $fromAI('date');\nconst category = $fromAI('category');\nconst amount = parseFloat($fromAI('amount'));\nconst description = $fromAI('description') || '';\n\n// Преобразуем дату из ДД.ММ.ГГГГ в YYYY-MM-DD\nconst [day, month, year] = dateStr.split('.');\nconst sqlDate = `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;\n\n// Получаем user_id\nconst userId = $node[\"Telegram Bot Trigger\"].json[\"message\"][\"from\"][\"id\"];\n\nreturn {\n  json: {\n    user_id: userId,\n    date: sqlDate,\n    category: category,\n    amount: amount,\n    description: description,\n    operation_type: 'расход',\n    source: 'telegram'\n  }\n};"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1120,
        704
      ],
      "id": "402f4361-911a-4098-9657-7ec790ebe9b7",
      "name": "Add_expense_prepare"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO expenses (user_id, date, category, amount, description, operation_type, source)\nVALUES (\n  {{ $json.user_id }},\n  '{{ $json.date }}',\n  '{{ $json.category }}',\n  {{ $json.amount }},\n  '{{ $json.description }}',\n  'расход',\n  'telegram'\n)\nRETURNING id, date, category, amount, description;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -920,
        704
      ],
      "id": "53489835-a4fa-499d-bc6f-c544cf2cd85d",
      "name": "Add_expense",
      "credentials": {
        "postgres": {
          "id": "3CGZzcUsaAWp8nrl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Проверка лимита по категории\nWITH expense_sum AS (\n  SELECT COALESCE(SUM(amount), 0) as total_spent\n  FROM expenses\n  WHERE user_id = {{ $json.user_id }}\n    AND category = '{{ $json.category }}'\n    AND date >= DATE_TRUNC('month', CURRENT_DATE)\n),\ncategory_limit AS (\n  SELECT limit_amount\n  FROM limits\n  WHERE user_id = {{ $json.user_id }}\n    AND category = '{{ $json.category }}'\n    AND month = TO_CHAR(CURRENT_DATE, 'YYYY-MM')\n  LIMIT 1\n)\nSELECT \n  e.total_spent,\n  l.limit_amount,\n  CASE \n    WHEN l.limit_amount IS NULL THEN NULL\n    WHEN e.total_spent > l.limit_amount THEN 'exceeded'\n    WHEN e.total_spent > (l.limit_amount * 0.8) THEN 'warning'\n    ELSE 'ok'\n  END as limit_status,\n  CASE\n    WHEN l.limit_amount IS NOT NULL THEN ROUND((e.total_spent / l.limit_amount) * 100)\n    ELSE NULL\n  END as percent_used\nFROM expense_sum e\nLEFT JOIN category_limit l ON true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -944,
        864
      ],
      "id": "2aae980b-ec4a-45eb-abc1-66ff0597e0a7",
      "name": "Checking_limits",
      "credentials": {
        "postgres": {
          "id": "3CGZzcUsaAWp8nrl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -720,
        448
      ],
      "id": "1fd0a6ac-be73-4e0c-9e1a-5442b3611cdf",
      "name": "Calc"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bot Trigger": {
      "main": [
        [
          {
            "node": "Регистрация/обновление пользователя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type Switch": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Text Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Financial Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text Data": {
      "main": [
        [
          {
            "node": "Financial Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Financial Assistant": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка типа": {
      "main": [
        [
          {
            "node": "Анализ расходов",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Анализ доходов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Регистрация/обновление пользователя": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message Type Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Income_preparation": {
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add_income": {
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parsing_of_the_month": {
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add_expense_prepare": {
      "main": [
        [
          {
            "node": "Add_expense",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add_expense": {
      "main": [
        [
          {
            "node": "Checking_limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checking_limits": {
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calc": {
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc297564-5f30-4183-8b99-d9f5b2b7a00d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcdca7003a882ee2cf9d975eab94cc02ba456a1ed2ac37511421cb2edeb80c62"
  },
  "id": "poGBTuaN7LQs9hwD",
  "tags": []
}