ErrorHandlingWorkflow.json
{
  "name": "Error Handling & Validation",
  "nodes": [
    {
      "parameters": {
        "path": "validate-transaction",
        "options": {}
      },
      "id": "709a6f01-57e8-452e-ad31-8e3aa4c7a179",
      "name": "Webhook - Validate Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        272
      ],
      "webhookId": "validate-transaction"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.amount }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Invalid Amount"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.amount }}",
                    "rightValue": "10000000",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Amount Too Large"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ !$json.date || !$json.date.match(/^\\d{2}\\.\\d{2}\\.\\d{4}$/) }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Invalid Date Format"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ !$json.category || $json.category === '' }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Missing Category"
            }
          ]
        },
        "options": {
          "fallbackOutput": "single"
        }
      },
      "id": "5076e29d-f7d0-465b-9ef5-3b4cf8039810",
      "name": "Validation Rules",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        272
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15r082AGL_ew0yRXY8qYQCn6FYEOUxri-equ6yR-tAc4",
          "mode": "list",
          "cachedResultName": "AIAccounter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15r082AGL_ew0yRXY8qYQCn6FYEOUxri-equ6yR-tAc4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 598940202,
          "mode": "list",
          "cachedResultName": "Расходы"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Текущая дата",
              "lookupValue": "={{ $json.date }}"
            },
            {
              "lookupColumn": "Сумма",
              "lookupValue": "={{ $json.amount }}"
            },
            {
              "lookupColumn": "Категория",
              "lookupValue": "={{ $json.category }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        464
      ],
      "id": "c61e0dd8-2cbb-4027-a0d0-0aecbc977ddb",
      "name": "Check for Duplicates",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ma60ZJqcwNGcWkrr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        464
      ],
      "id": "71efc2d6-4d65-4007-8996-effc2dea0bff",
      "name": "Is Duplicate?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15r082AGL_ew0yRXY8qYQCn6FYEOUxri-equ6yR-tAc4",
          "mode": "list",
          "cachedResultName": "AIAccounter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15r082AGL_ew0yRXY8qYQCn6FYEOUxri-equ6yR-tAc4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=error_log",
          "mode": "list",
          "cachedResultName": "Логи ошибок"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toLocaleString('ru-RU', { timeZone: 'Asia/Novosibirsk' }) }}",
            "Error Type": "={{ $json.error_type }}",
            "User ID": "={{ $json.user_id }}",
            "Data": "={{ JSON.stringify($json) }}",
            "Message": "={{ $json.error_message }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        128
      ],
      "id": "08fad8f1-1789-4afe-9956-67e4f2f949e4",
      "name": "Log Error to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ma60ZJqcwNGcWkrr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_type",
              "name": "error_type",
              "value": "=Invalid Amount",
              "type": "string"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "value": "=Сумма должна быть больше 0 и меньше 10 млн рублей",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        80
      ],
      "id": "947a4559-32c5-4353-bebc-bba339fe446a",
      "name": "Set Error - Invalid Amount"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_type",
              "name": "error_type",
              "value": "=Duplicate Transaction",
              "type": "string"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "value": "=Транзакция с такими параметрами уже существует",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        368
      ],
      "id": "868bd0ef-c5a6-48f6-9dcc-599b9cc8f152",
      "name": "Set Error - Duplicate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error_message, \"error_type\": $json.error_type } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        128
      ],
      "id": "0be5904a-5a4b-421f-b1d3-987fe6baadeb",
      "name": "Respond with Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Данные прошли валидацию\", \"data\": $json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        560
      ],
      "id": "968fe8fc-7acc-48a7-8a4f-04feacd5491c",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_type",
              "name": "error_type",
              "value": "=Invalid Date",
              "type": "string"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "value": "=Неверный формат даты. Используйте ДД.ММ.ГГГГ",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ],
      "id": "90b3fde2-f100-47a3-bc60-650b6a7f4b50",
      "name": "Set Error - Invalid Date"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_type",
              "name": "error_type",
              "value": "=Missing Category",
              "type": "string"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "value": "=Категория обязательна для заполнения",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        240
      ],
      "id": "c40afde2-9097-48b7-8d6f-a8dcfda4cb67",
      "name": "Set Error - Missing Category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_type",
              "name": "error_type",
              "value": "=Amount Too Large",
              "type": "string"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "value": "=Сумма слишком большая. Максимум 10 млн рублей",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "a2ce28ba-66a2-4f44-a11b-e9e531e697be",
      "name": "Set Error - Amount Too Large"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Validate Data": {
      "main": [
        [
          {
            "node": "Validation Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Rules": {
      "main": [
        [
          {
            "node": "Set Error - Invalid Amount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error - Amount Too Large",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error - Invalid Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error - Missing Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Set Error - Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error - Invalid Amount": {
      "main": [
        [
          {
            "node": "Log Error to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error - Amount Too Large": {
      "main": [
        [
          {
            "node": "Log Error to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error - Invalid Date": {
      "main": [
        [
          {
            "node": "Log Error to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error - Missing Category": {
      "main": [
        [
          {
            "node": "Log Error to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error - Duplicate": {
      "main": [
        [
          {
            "node": "Log Error to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Sheet": {
      "main": [
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2eac6e3e-4cf6-4775-afca-977b379b0d87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcdca7003a882ee2cf9d975eab94cc02ba456a1ed2ac37511421cb2edeb80c62"
  },
  "id": "mtAIoAkY7WWxrQHU",
  "tags": []
}