FixedAnaliziFinance_v3.json
{
  "name": "AnaliziFinance - Fixed v3",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxRetries": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        208
      ],
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-bot-trigger",
      "name": "Telegram Bot Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        352,
        208
      ],
      "webhookId": "b8605f3e-0f52-4ffc-a4c9-1728eb0e09e2",
      "credentials": {
        "telegramApi": {
          "id": "ink5DVmWPQ53OHzH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "message-type-switch",
      "name": "Message Type Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        736,
        208
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "download-voice-file",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        32
      ],
      "webhookId": "8fa0a59a-be53-4897-83bb-5b18ed71b529",
      "credentials": {
        "telegramApi": {
          "id": "ink5DVmWPQ53OHzH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "transcribe-audio",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1056,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6af7fa1-c31a-4514-ae63-397699bf8b21",
              "name": "text",
              "value": "={{ $('Telegram Bot Trigger').first().json.message.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        368
      ],
      "id": "prepare-text-data",
      "name": "Prepare Text Data"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Telegram Bot Trigger').first().json.message.message_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1472,
        192
      ],
      "id": "conversation-memory",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n\n",
        "options": {
          "systemMessage": "=\nТы — универсальный финансовый помощник для бизнеса и личных финансов в Кыргызстане.\nТвоя задача — понимать команды пользователя и вносить данные в Google Таблицу о расходах, доходах, или выполнять анализ по истории.\nВалюта по умолчанию: сом (KGS)\nСегодняшняя дата {{ new Date().toLocaleString('ru-RU', { timeZone: 'Asia/Bishkek', day: '2-digit', month: '2-digit', year: 'numeric' }) }}\n\n---\n💸 РАСХОДЫ: если пользователь говорит про трату/покупку\nВызывай инструмент AddCostGoogleTable и передавай параметры: \"date\", \"category\", \"amount\", \"description\", \"operation_type\", \"source\"\n- Параметр date: формат \"ДД.ММ.ГГГГ\"\n- Параметр category: одна из категорий расходов ниже\n- Параметр amount: сумма\n- Параметр description: опционально\n- Параметр operation_type: \"расход\"\n- Параметр source: \"telegram\"\n\n🏢 БИЗНЕС-КАТЕГОРИИ РАСХОДОВ (Кыргызстан):\nаренда офиса, аренда оборудования, зарплата сотрудников, налоги и сборы, патент ИП, социальный фонд, реклама и маркетинг, канцелярия и офис, связь и интернет, транспорт и логистика, обучение персонала, страхование, банковские услуги, консалтинг и аудит, лицензии и сертификаты, ремонт и обслуживание, коммунальные услуги, IT-услуги и софт, командировочные, представительские расходы, проценты по кредитам, закупка товаров, закупка сырья, упаковка и тара, доставка и логистика, складские услуги, таможенные пошлины, сертификация товаров, маркетинговые исследования, PR и реклама, веб-разработка, дизайн, фотография, видеосъемка, полиграфия, сувенирная продукция, корпоративные мероприятия\n\n🏠 ЛИЧНЫЕ КАТЕГОРИИ РАСХОДОВ (Кыргызстан):\nздоровье и красота, помощь родителям, автокредит, образование, развлечения, туризм, подарки, квартплата, коммуналка, интернет и связь, мебель, непредвиденное, одежда, цифровые покупки, домашние питомцы, игрушки, кафе, рестораны, базар, продукты питания, бытовые товары, машина, транспорт, такси, маршрутка, газ, электричество, вода, отопление\n\nПримеры:\n• \"Купил еды на 400 сом\" → category: продукты питания, source: telegram\n• \"Оплатил аренду офиса 35000\" → category: аренда офиса, source: telegram\n• \"Зарплата сотруднику 25000\" → category: зарплата сотрудников, source: telegram\n• \"Реклама в Instagram 8000\" → category: реклама и маркетинг, source: telegram\n• \"Патент ИП 7000\" → category: патент ИП, source: telegram\n\n---\n💰 ДОХОДЫ: если пользователь говорит про поступление денег\nВызывай метод AddRevenueGoogleTable и передавай json на вход: \"date\", \"category\", \"amount\", \"description\", \"operation_type\", \"source\"\n- Параметр date: формат \"ДД.ММ.ГГГГ\"\n- Параметр category: одна из категорий дохода ниже\n- Параметр amount: сумма\n- Параметр description: опционально\n- Параметр operation_type: \"доход\"\n- Параметр source: \"telegram\"\n\n🏢 БИЗНЕС-КАТЕГОРИИ ДОХОДОВ (Кыргызстан):\nпродажи товаров, продажи услуг, подписки и SaaS, лицензионные платежи, дивиденды от инвестиций, возврат налогов, гранты и субсидии, проценты по депозитам, арендная плата, франшиза, консалтинг, обучение клиентов, партнерские программы, аффилиатские доходы, продажа активов, роялти, комиссионные, бонусы от поставщиков, возврат переплат, страховые выплаты, компенсации\n\n🏠 ЛИЧНЫЕ КАТЕГОРИИ ДОХОДОВ (Кыргызстан):\nзарплата, подработка, дивиденды и купоны, депозиты, пенсия, социальные выплаты, подарки, продажа имущества, кэшбек, фриланс, репетиторство\n\nПример:\n• \"Доход 1000 сом с дивидендов\" → category: дивиденды от инвестиций, source: telegram\n• \"Зарплата 40000\" → category: зарплата, source: telegram\n• \"Продажи за месяц 250000\" → category: продажи товаров, source: telegram\n• \"Кэшбек 350 сом\" → category: кэшбек, source: telegram\n\n---\n📅 Формат даты:\n• Если дата не указана: используй текущую дату в формате ДД.ММ.ГГГГ\n• \"за вчера\" → вычисли дату = сегодня минус один день и формат даты ДД.ММ.ГГГГ\n• \"за 25 мая\" → добавь текущий год → 25.05.2025\n• \"за 25 мая 2023\" → используй как есть → 25.05.2023\n\n🧮 Формат суммы:\n• Число без валюты (сомы по умолчанию)\n• Если сказано \"300 сом 50 тыйынов\" → запиши как 300.50\n\n---\n📊 Анализ истории:\nЕсли пользователь спрашивает об анализе финансов, используй инструмент workspaceAnalize.\n\nОБЯЗАТЕЛЬНЫЕ параметры:\n- month: название месяца ТОЛЬКО на русском (январь, февраль, март, апрель, май, июнь, июль, август, сентябрь, октябрь, ноябрь, декабрь)\n- type: ТОЛЬКО \"доход\" или \"расход\"\n\nНЕОБЯЗАТЕЛЬНЫЙ параметр:\n- category: конкретная категория из списка выше (только если пользователь её указал)\n\nПРИМЕРЫ ПРАВИЛЬНЫХ ВЫЗОВОВ:\n\nЗапрос: \"Сколько потратил на рекламу в апреле?\"\n→ Вызови: workspaceAnalize\nПараметры:\n{\n  \"month\": \"апрель\",\n  \"type\": \"расход\",\n  \"category\": \"реклама и маркетинг\"\n}\n\nЗапрос: \"Доходы за май\"\n→ Вызови: workspaceAnalize\nПараметры:\n{\n  \"month\": \"май\",\n  \"type\": \"доход\"\n}\n\nЗапрос: \"Общие расходы в марте\"\n→ Вызови: workspaceAnalize\nПараметры:\n{\n  \"month\": \"март\",\n  \"type\": \"расход\"\n}\n\n---\n💼 БИЗНЕС-АНАЛИТИКА ДЛЯ КЫРГЫЗСТАНА:\nТы можешь отвечать на вопросы типа:\n• \"Почему прибыль упала в этом месяце?\"\n• \"Какие категории расходов самые большие?\"\n• \"Сравни доходы за последние 3 месяца\"\n• \"Сколько потратили на налоги в этом году?\"\n• \"Какая рентабельность по категориям?\"\n• \"Сколько нужно платить за патент?\"\n• \"Рассчитай НДС 12% от суммы\"\n• \"Какие расходы на соцфонд?\"\n\n---\n💡 УМНЫЕ ФУНКЦИИ:\n\n🔄 РАСПОЗНАВАНИЕ ПОДПИСОК:\nЕсли упоминаются регулярные платежи:\n- \"Оплатил Netflix 699 сом\" → \"💡 Это подписка? Хотите напоминание о следующем платеже?\"\n- Автоматически предлагай отслеживать подписки\n\n📊 АНАЛИЗ И РЕКОМЕНДАЦИИ:\nПосле значительной траты (>3000 сом):\n- Сравнивай с прошлым месяцем\n- Показывай процент от месячного бюджета\n- Предлагай альтернативы экономии\n\n⚠️ ПРЕДУПРЕЖДЕНИЯ О БЮДЖЕТЕ:\nПроверяй лимиты после каждой операции:\n- Если потрачено >80% лимита: \"⚠️ Использовано 85% лимита на продукты\"\n- Если превышен лимит: \"🚨 Превышен лимит на развлечения на 1,500 сом\"\n- Если близок месячный бюджет: \"⚠️ Осталось 15% от месячного бюджета\"\n\n💡 УМНЫЕ ВОПРОСЫ:\nЗадавай уточняющие вопросы:\n- \"Купил телефон за 35000\" → \"Это для бизнеса или личное?\"\n- \"Оплатил рекламу\" → \"В какой платформе? (Instagram, Google, Facebook, 2GIS)\"\n\n📈 ПРОАКТИВНАЯ АНАЛИТИКА:\nВ конце дня (если были транзакции):\n\"📊 За сегодня: Доходы +10,000 сом, Расходы -2,500 сом.\nПрибыль: +7,500 сом\nОсталось до конца месяца: 32,000 сом от бюджета (64%)\"\n\n🎯 ЦЕЛИ И ПЛАНИРОВАНИЕ:\n- \"Хочу накопить 300000 на машину\" → Рассчитай сколько откладывать\n- \"Нужно снизить расходы на 20%\" → Проанализируй где можно сэкономить\n\n🔍 АНОМАЛИИ:\nАвтоматически определяй необычные траты:\n- \"⚠️ Расход на такси сегодня в 3 раза выше среднего\"\n- \"💡 Странно, обычно вы не тратите больше 1500 сом на кафе\"\n\n💸 НАЛОГИ КЫРГЫЗСТАН:\nПри вопросах о налогах:\n- НДС 12%\n- Подоходный: до 300,000 сом = 10%, свыше = 15%\n- Соцфонд 12.5% от зарплаты\n- Патент ИП: от 5,000 до 10,000 сом/месяц\n\n---\nВАЖНО: Передавай параметры ТОЧНО в таком формате. НЕ добавляй лишние поля.\n\n✅ После успешного действия, верни ответ в Telegram:\n\"Операция успешно добавлена: [данные]\"\nили\n\"Анализ завершён: [результат]\"\n\nЕсли требуется сделать подсчеты - используй инструмент Calculator.\n\nТебе могут передавать одну операцию или несколько сразу:\n- \"Купил кефир за 50 сом и ряженку за 49 сом\" → Суммируй: категория \"продукты питания\", описание \"кефир и ряженка\", amount: 99\n- \"Оплатил аренду 35000 и зарплату 25000\" → 2 записи: аренда офиса 35000 и зарплата сотрудников 25000\n\nВажно! Если не знаешь какой инструмент использовать - верни ответ с комментариями для уточнения.\n\nДОПОЛНИТЕЛЬНО О КЫРГЫЗСТАНЕ:\n- Популярные банки: KICB, Optima Bank, Бакай Банк, Дос-Кредобанк\n- Популярные маркетплейсы: 2GIS, Instagram, Facebook\n- Транспорт: маршрутка (обычно 15-20 сом), такси (от 100 сом)\n- Базар - это рынок, где покупают продукты\n- Коммуналка = коммунальные услуги (газ, свет, вода, отопление)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1392,
        -32
      ],
      "id": "financial-assistant",
      "name": "Financial Assistant",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2128,
        192
      ],
      "id": "calculator-tool",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Zl8_Q-t6s3hN8yr2Pn85_8cwk0iNV5qDOvAglVmVMdo",
          "mode": "list",
          "cachedResultName": "Бизнес-финансы (Test)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl8_Q-t6s3hN8yr2Pn85_8cwk0iNV5qDOvAglVmVMdo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1490011688,
          "mode": "list",
          "cachedResultName": "Доходы",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl8_Q-t6s3hN8yr2Pn85_8cwk0iNV5qDOvAglVmVMdo/edit#gid=1490011688"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Текущая дата": "={{ $fromAI('date') }}",
            "Категория": "={{ $fromAI('category') }}",
            "Сумма": "={{ $fromAI('amount') }}",
            "Описание": "={{ $fromAI('description') }}",
            "Тип операции": "={{ $fromAI('operation_type') }}",
            "Источник": "={{ $fromAI('source') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Текущая дата",
              "displayName": "Текущая дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Категория",
              "displayName": "Категория",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Сумма",
              "displayName": "Сумма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Описание",
              "displayName": "Описание",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тип операции",
              "displayName": "Тип операции",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Источник",
              "displayName": "Источник",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1584,
        240
      ],
      "id": "add-revenue-to-sheets",
      "name": "AddRevenueGoogleTable",
      "notesInFlow": true,
      "notes": "Обработчик для внесение в Google table дохода"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Zl8_Q-t6s3hN8yr2Pn85_8cwk0iNV5qDOvAglVmVMdo",
          "mode": "list",
          "cachedResultName": "Бизнес-финансы (Test)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl8_Q-t6s3hN8yr2Pn85_8cwk0iNV5qDOvAglVmVMdo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 598940202,
          "mode": "list",
          "cachedResultName": "Расходы",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl8_Q-t6s3hN8yr2Pn85_8cwk0iNV5qDOvAglVmVMdo/edit#gid=598940202"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Текущая дата": "={{ $fromAI('date') }}",
            "Категория": "={{ $fromAI('category') }}",
            "Сумма": "={{ $fromAI('amount') }}",
            "Описание": "={{ $fromAI('description') }}",
            "Тип операции": "={{ $fromAI('operation_type') }}",
            "Источник": "={{ $fromAI('source') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Текущая дата",
              "displayName": "Текущая дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Категория",
              "displayName": "Категория",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Сумма",
              "displayName": "Сумма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Описание",
              "displayName": "Описание",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тип операции",
              "displayName": "Тип операции",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Источник",
              "displayName": "Источник",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1968,
        208
      ],
      "id": "add-expense-to-sheets",
      "name": "AddCostGoogleTable",
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "Добавить расходы в таблицу учета"
    },
    {
      "parameters": {
        "description": "Метод анализа расходов и доходов",
        "workflowId": {
          "__rl": true,
          "value": "krvhuAmnGkUpHhgl",
          "mode": "list",
          "cachedResultName": "AnaliziFinance"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "month": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('month', `- month: название месяца ТОЛЬКО на русском (январь, февраль, март, апрель, май, июнь, июль, август, сентябрь, октябрь, ноябрь, декабрь)`, 'string') }}",
            "type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', `type: ТОЛЬКО \"доход\" или \"расход\"`, 'string') }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `НЕОБЯЗАТЕЛЬНЫЙ параметр:\ncategory: конкретная категория из списка`, 'string') }}"
          },
          "matchingColumns": [
            " text"
          ],
          "schema": [
            {
              "id": "month",
              "displayName": "month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1792,
        240
      ],
      "id": "workspace-analyze-tool",
      "name": "workspaceAnalize",
      "notesInFlow": true,
      "notes": "Вызывает Workspace обработчика аналитики по финансам"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Bot Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Telegram Bot Trigger').first().json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        -16
      ],
      "id": "send-telegram-response",
      "name": "Send Telegram Response",
      "webhookId": "a2f9609c-4b7a-4d51-aaa6-c889f56aefc9"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bot Trigger": {
      "main": [
        [
          {
            "node": "Message Type Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type Switch": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Text Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Financial Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text Data": {
      "main": [
        [
          {
            "node": "Financial Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Financial Assistant": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AddRevenueGoogleTable": {
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AddCostGoogleTable": {
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "workspaceAnalize": {
      "ai_tool": [
        [
          {
            "node": "Financial Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "bcdca7003a882ee2cf9d975eab94cc02ba456a1ed2ac37511421cb2edeb80c62"
  },
  "tags": []
}
