TaxCalculator_Kyrgyzstan.json
{
  "name": "Tax Calculator Kyrgyzstan",
  "nodes": [
    {
      "parameters": {
        "path": "tax-calc-kg",
        "options": {}
      },
      "id": "db94632b-c76d-480d-8b58-43ec0e4d7da4",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        128
      ],
      "webhookId": "tax-calc-kg"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.tax_type }}",
                    "rightValue": "vat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "VAT"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.tax_type }}",
                    "rightValue": "income",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Income Tax"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.tax_type }}",
                    "rightValue": "social",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Social Fund"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.tax_type }}",
                    "rightValue": "patent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Patent"
            }
          ]
        },
        "options": {}
      },
      "id": "376cb6b4-fb32-4a37-981c-085a270120e2",
      "name": "Тип налога",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const totalIncome = parseFloat($json.total_income) || 0;\nconst vatRate = 0.12;\nconst vatAmount = totalIncome * vatRate;\nconst amountWithoutVAT = totalIncome / (1 + vatRate);\n\nreturn {\n  json: {\n    tax_type: 'НДС',\n    total_with_vat: totalIncome,\n    vat_rate: '12%',\n    vat_amount: Math.round(vatAmount * 100) / 100,\n    amount_without_vat: Math.round(amountWithoutVAT * 100) / 100,\n    message: `📊 Расчёт НДС (Кыргызстан)\\n\\n💰 Сумма с НДС: ${totalIncome.toLocaleString('ru-RU')} сом\\n📉 Сумма без НДС: ${Math.round(amountWithoutVAT).toLocaleString('ru-RU')} сом\\n💸 НДС (12%): ${Math.round(vatAmount).toLocaleString('ru-RU')} сом\\n\\n✅ К уплате в бюджет: ${Math.round(vatAmount).toLocaleString('ru-RU')} сом`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "10a86981-67c8-449b-8a42-7b0feddc6756",
      "name": "Расчёт НДС 12%"
    },
    {
      "parameters": {
        "jsCode": "const income = parseFloat($json.total_income) || 0;\nconst expenses = parseFloat($json.total_expenses) || 0;\nconst taxableIncome = Math.max(income - expenses, 0);\n\nlet taxRate = 0;\nlet taxAmount = 0;\n\nif (taxableIncome <= 0) {\n  taxRate = 0;\n  taxAmount = 0;\n} else if (taxableIncome <= 300000) {\n  taxRate = 0.10;\n  taxAmount = taxableIncome * taxRate;\n} else {\n  const firstBracket = 300000 * 0.10;\n  const secondBracket = (taxableIncome - 300000) * 0.15;\n  taxAmount = firstBracket + secondBracket;\n  taxRate = (taxAmount / taxableIncome);\n}\n\nreturn {\n  json: {\n    tax_type: 'Подоходный налог',\n    total_income: income,\n    total_expenses: expenses,\n    taxable_income: taxableIncome,\n    tax_amount: Math.round(taxAmount * 100) / 100,\n    effective_rate: Math.round(taxRate * 1000) / 10 + '%',\n    message: `📊 Расчёт подоходного налога (КР)\\n\\n💰 Доходы: ${income.toLocaleString('ru-RU')} сом\\n💸 Расходы: ${expenses.toLocaleString('ru-RU')} сом\\n📈 Налогооблагаемый доход: ${taxableIncome.toLocaleString('ru-RU')} сом\\n\\n💵 Ставка:\\n  До 300,000 сом: 10%\\n  Свыше 300,000: 15%\\n\\n✅ Налог к уплате: ${Math.round(taxAmount).toLocaleString('ru-RU')} сом\\n📊 Эффективная ставка: ${Math.round(taxRate * 1000) / 10}%`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        128
      ],
      "id": "1dccc987-e782-41cb-aa8f-02b647cee61e",
      "name": "Расчёт подоходного"
    },
    {
      "parameters": {
        "jsCode": "const salary = parseFloat($json.salary) || 0;\nconst socialFundRate = 0.125;\nconst socialFundAmount = salary * socialFundRate;\n\nreturn {\n  json: {\n    tax_type: 'Социальный фонд',\n    salary: salary,\n    rate: '12.5%',\n    social_fund_amount: Math.round(socialFundAmount * 100) / 100,\n    message: `📊 Расчёт отчислений в Соцфонд (КР)\\n\\n💰 Зарплата: ${salary.toLocaleString('ru-RU')} сом\\n📊 Ставка: 12.5%\\n\\n✅ Отчисления в Соцфонд: ${Math.round(socialFundAmount).toLocaleString('ru-RU')} сом\\n\\n💡 Отчисления производятся работодателем`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "id": "afc715ba-8f7e-4234-ba2d-6e26b3d4d32b",
      "name": "Расчёт Соцфонда"
    },
    {
      "parameters": {
        "jsCode": "const patentTypes = {\n  retail: { name: 'Розничная торговля', amount: 7000 },\n  services: { name: 'Бытовые услуги', amount: 5000 },\n  transport: { name: 'Пассажирские перевозки', amount: 8000 },\n  cafe: { name: 'Общественное питание', amount: 10000 },\n  other: { name: 'Прочие виды', amount: 6000 }\n};\n\nconst patentType = $json.patent_type || 'other';\nconst patent = patentTypes[patentType] || patentTypes.other;\nconst monthlyAmount = patent.amount;\nconst annualAmount = monthlyAmount * 12;\n\nreturn {\n  json: {\n    tax_type: 'Патент ИП',\n    patent_name: patent.name,\n    monthly_payment: monthlyAmount,\n    annual_payment: annualAmount,\n    message: `📊 Расчёт патента для ИП (КР)\\n\\n📋 Вид деятельности: ${patent.name}\\n\\n💰 Ежемесячный платёж: ${monthlyAmount.toLocaleString('ru-RU')} сом\\n💵 Годовой платёж: ${annualAmount.toLocaleString('ru-RU')} сом\\n\\n💡 Патент освобождает от:\\n  • Подоходного налога\\n  • НДС\\n  • Отчётности\\n\\n⚠️ Ограничение по обороту: 10 млн сом/год`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        368
      ],
      "id": "1cbc91dc-c735-42ca-88c4-0ea22ef9bbe1",
      "name": "Расчёт патента"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        224,
        192
      ],
      "id": "1a7a1984-e245-4d88-a4d3-bb91a4b97712",
      "name": "Ответ"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Тип налога",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип налога": {
      "main": [
        [
          {
            "node": "Расчёт НДС 12%",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Расчёт подоходного",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Расчёт Соцфонда",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Расчёт патента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Расчёт НДС 12%": {
      "main": [
        [
          {
            "node": "Ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Расчёт подоходного": {
      "main": [
        [
          {
            "node": "Ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Расчёт Соцфонда": {
      "main": [
        [
          {
            "node": "Ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Расчёт патента": {
      "main": [
        [
          {
            "node": "Ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fbb16228-3af3-4816-895a-fdc3c9491e3b",
  "meta": {
    "instanceId": "bcdca7003a882ee2cf9d975eab94cc02ba456a1ed2ac37511421cb2edeb80c62"
  },
  "id": "XCIH4ujdxPtHeP3w",
  "tags": []
}