n8n/workflows/AIAccounter.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1216,
        -64
      ],
      "id": "bd8ff081-7404-4ca8-b3ac-149903cc5d94",
      "name": "Telegram Trigger",
      "webhookId": "7d5db243-2146-45ba-a9b7-d0d743f58df0",
      "credentials": {
        "telegramApi": {
          "id": "VsCo0z8ZzisDZOpw",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO users (user_id, telegram_chat_id, first_name, registered_date, last_activity, is_active, registration_source)\nVALUES (\n  {{ $json.message.from.id }},\n  {{ $json.message.chat.id }},\n  '{{ $json.message.from.first_name || \"User\" }}',\n  NOW(),\n  NOW(),\n  true,\n  'telegram'\n)\nON CONFLICT (user_id) DO UPDATE SET\n  first_name = EXCLUDED.first_name,\n  last_activity = NOW()",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -992,
        -64
      ],
      "id": "2dbc75e8-4d33-4f3c-ba2d-b0a32aad202b",
      "name": "Ensure User",
      "credentials": {
        "postgres": {
          "id": "5T19Mbva6dh2EvkZ",
          "name": "Chyngyz account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -768,
        -64
      ],
      "id": "7447ab94-2c1a-4e31-9c21-2cefa63079d8",
      "name": "Message Type"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -544,
        -160
      ],
      "id": "b8df8c3c-758b-4e6b-a1e9-eda2da15867e",
      "name": "Download Voice",
      "webhookId": "ebbba00f-fb0b-4458-ade5-3e826582610f",
      "credentials": {
        "telegramApi": {
          "id": "VsCo0z8ZzisDZOpw",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -320,
        -160
      ],
      "id": "3278ffb1-b55e-41f1-95b8-297c4cd1968b",
      "name": "Whisper STT",
      "credentials": {
        "openAiApi": {
          "id": "1T30bcIe2tfs32N6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "value": "={{ $json.text",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id",
              "type": "number"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id",
              "type": "number"
            },
            {
              "id": "first_name",
              "name": "first_name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name || 'Пользователь'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -160
      ],
      "id": "feb6202e-a7b5-4f5e-8cf0-4b0bf97f2247",
      "name": "Set Voice Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id",
              "type": "number"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id",
              "type": "number"
            },
            {
              "id": "first_name",
              "name": "first_name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name || 'Пользователь'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        32
      ],
      "id": "ef6133ab-604b-4331-bab1-da03e1298c4d",
      "name": "Set Text Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User ID: {{ $json.user_id }}\nChat ID: {{ $json.chat_id }}\nИмя: {{ $json.first_name }}\nСообщение: {{ $json.text }}",
        "options": {
          "systemMessage": "Ты — AIAccounter, финансовый ассистент в Telegram.\n\n⚡ ГЛАВНОЕ ПРАВИЛО: Выполняй команду ОДИН РАЗ и сразу отвечай!\n\n📊 ОТЧЁТЫ:\n• 'отчёт/за сегодня/дейли' → Report_Daily\n• 'за неделю/недельный' → Report_Weekly  \n• 'за месяц/месячный' → Report_Monthly\n• 'с [дата] по [дата]' → Report_Period\nПосле вызова отвечай: '📊 Отчёт отправлен!'\n\n💰 ТРАНЗАКЦИИ:\n• Расход (купил/потратил/заплатил) → Create_Expense\n• Доход (получил/зарплата) → Create_Income\nПосле записи отвечай: '✅ Записал! 💸 сумма — категория'\n\n🚨 КРИТИЧНО:\n• Вызывай инструмент только ОДИН раз\n• В ответе пиши ТОЛЬКО красивое сообщение для пользователя\n• НИКОГДА не включай в ответ [Used tools:...], Input, Result и прочую техническую информацию\n• Отвечай кратко и дружелюбно с эмодзи\n\n📂 КАТЕГОРИИ:\nРасходы: Продукты, Транспорт, Кафе, Жильё, Медицина, Одежда, Развлечения, Образование, Подписки, Другое\nДоходы: Зарплата, Фриланс, Инвестиции, Подарки, Другое",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        824,
        -64
      ],
      "id": "c888bf49-a115-4fda-807f-f8b5caaa804f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id",
        "text": "={{ $json.output",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        -64
      ],
      "id": "37b1a441-a6a2-4382-a9f7-0f9688382615",
      "name": "Send Reply",
      "webhookId": "9c3b0626-7240-4ad1-a03e-14cee62b4802",
      "credentials": {
        "telegramApi": {
          "id": "VsCo0z8ZzisDZOpw",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        160
      ],
      "id": "2d0d94cf-7ce4-4f2e-86dc-f641d29b3a91",
      "name": "GPT-4.1 Mini",
      "credentials": {
        "openAiApi": {
          "id": "1T30bcIe2tfs32N6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        256,
        160
      ],
      "id": "1d7a3da9-b2a7-4d4e-b92b-8550466c7f0a",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "5T19Mbva6dh2EvkZ",
          "name": "Chyngyz account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in Postgres",
        "operation": "executeQuery",
        "query": "=SELECT id, date, category, amount, currency, description FROM expenses WHERE user_id = {{ $('Telegram Trigger').item.json.message.from.id }} AND deleted_at IS NULL ORDER BY date DESC LIMIT 100",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        384,
        160
      ],
      "id": "5293ff95-0d1c-4a7e-ba7e-72f51524db6a",
      "name": "Get_Expenses",
      "credentials": {
        "postgres": {
          "id": "5T19Mbva6dh2EvkZ",
          "name": "Chyngyz account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in Postgres",
        "operation": "executeQuery",
        "query": "=SELECT id, date, category, amount, currency, description FROM income WHERE user_id = {{ $('Telegram Trigger').item.json.message.from.id }} AND deleted_at IS NULL ORDER BY date DESC LIMIT 100",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        512,
        160
      ],
      "id": "058e9bc2-e351-40cd-a1b2-83a020d3a317",
      "name": "Get_Income",
      "credentials": {
        "postgres": {
          "id": "5T19Mbva6dh2EvkZ",
          "name": "Chyngyz account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Добавляет новый расход. Используй когда пользователь потратил деньги: покупка, оплата, такси, еда и т.д.",
        "operation": "executeQuery",
        "query": "=INSERT INTO expenses (user_id, date, category, amount, currency, description, source) VALUES ({{ $('Telegram Trigger').item.json.message.from.id }}, COALESCE(NULLIF('{{ $fromAI('date', 'Дата YYYY-MM-DD, пустая строка если не указана', 'string') }}', '')::date, (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Bishkek')::date), '{{ $fromAI('category', 'Категория: Продукты, Транспорт, Кафе, Жильё, Медицина, Одежда, Развлечения, Образование, Подписки, Другое', 'string') }}', {{ $fromAI('amount', 'Сумма числом', 'number') }}, '{{ $fromAI('currency', 'Валюта KGS/USD/EUR/RUB, по умолчанию KGS', 'string') }}', '{{ $fromAI('description', 'Краткое описание', 'string') }}', 'telegram') RETURNING id, date, category, amount, currency",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        640,
        160
      ],
      "id": "f47d18c7-ab0a-42e5-953b-aa8224ef556d",
      "name": "Create_Expense",
      "credentials": {
        "postgres": {
          "id": "5T19Mbva6dh2EvkZ",
          "name": "Chyngyz account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in Postgres",
        "operation": "executeQuery",
        "query": "=INSERT INTO income (user_id, date, category, amount, currency, description, source) VALUES ({{ $('Telegram Trigger').item.json.message.from.id }}, COALESCE(NULLIF('{{ $fromAI('date', 'Дата YYYY-MM-DD, пустая строка если не указана', 'string') }}', '')::date, (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Bishkek')::date), '{{ $fromAI('category', 'Категория: Зарплата, Фриланс, Инвестиции, Подарки, Другое', 'string') }}', {{ $fromAI('amount', 'Сумма числом', 'number') }}, '{{ $fromAI('currency', 'Валюта KGS/USD/EUR/RUB, по умолчанию KGS', 'string') }}', '{{ $fromAI('description', 'Краткое описание', 'string') }}', 'telegram') RETURNING id, date, category, amount, currency",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        768,
        160
      ],
      "id": "e5cd2b04-5168-49b0-a944-c60683f56adc",
      "name": "Create_Income",
      "credentials": {
        "postgres": {
          "id": "5T19Mbva6dh2EvkZ",
          "name": "Chyngyz account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in Postgres",
        "operation": "executeQuery",
        "query": "=UPDATE expenses SET deleted_at = NOW() WHERE id = {{ $fromAI('id', 'ID расхода для удаления', 'number') }} AND user_id = {{ $('Telegram Trigger').item.json.message.from.id }} RETURNING id, 'deleted' as status",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        896,
        160
      ],
      "id": "80733e71-11df-45f9-9a56-057567838c87",
      "name": "Delete_Expense",
      "credentials": {
        "postgres": {
          "id": "5T19Mbva6dh2EvkZ",
          "name": "Chyngyz account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in Postgres",
        "operation": "executeQuery",
        "query": "=UPDATE income SET deleted_at = NOW() WHERE id = {{ $fromAI('id', 'ID дохода для удаления', 'number') }} AND user_id = {{ $('Telegram Trigger').item.json.message.from.id }} RETURNING id, 'deleted' as status",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1024,
        160
      ],
      "id": "f069497c-b98b-447f-a80d-9ebd86a31d71",
      "name": "Delete_Income",
      "credentials": {
        "postgres": {
          "id": "5T19Mbva6dh2EvkZ",
          "name": "Chyngyz account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1152,
        160
      ],
      "id": "6a5f4939-d71f-4d01-88fb-3f87c04f0f1b",
      "name": "Calculator"
    },
    {
      "parameters": {
        "toolDescription": "Ежедневный отчёт за сегодня",
        "method": "POST",
        "url": "https://alikbekalatoo77.app.n8n.cloud/webhook/reports-webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"report_type\": \"daily\",\n  \"user_id\": {{ $json.user_id }},\n  \"chat_id\": {{ $json.chat_id }},\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"start_date\": \"\",\n  \"end_date\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1280,
        160
      ],
      "id": "67944a9f-ebb2-4d71-9f34-dd0c6dd6cd37",
      "name": "Report _Daily"
    },
    {
      "parameters": {
        "toolDescription": "Еженедельный отчёт ",
        "method": "POST",
        "url": "https://alikbekalatoo77.app.n8n.cloud/webhook/reports-webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"report_type\": \"weekly\",\n  \"user_id\": {{ $json.user_id }},\n  \"chat_id\": {{ $json.chat_id }},\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"start_date\": \"\",\n  \"end_date\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1408,
        160
      ],
      "id": "9c36170c-c49b-499f-88c0-1511cf3751a1",
      "name": "Report _Weekly"
    },
    {
      "parameters": {
        "toolDescription": "Eжемесячный отчёт ",
        "method": "POST",
        "url": "https://alikbekalatoo77.app.n8n.cloud/webhook/reports-webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"report_type\": \"monthly\",\n  \"user_id\": {{ $json.user_id }},\n  \"chat_id\": {{ $json.chat_id }},\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"start_date\": \"\",\n  \"end_date\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1536,
        160
      ],
      "id": "02038847-8f63-4b97-bace-341bafff002c",
      "name": "Report _Monthly"
    },
    {
      "parameters": {
        "toolDescription": "отчёт за период ",
        "method": "POST",
        "url": "https://alikbekalatoo77.app.n8n.cloud/webhook/reports-webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"report_type\": \"period\",\n  \"user_id\": {{ $json.user_id }},\n  \"chat_id\": {{ $json.chat_id }},\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"start_date\": \"\",\n  \"end_date\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1664,
        160
      ],
      "id": "30afede9-d4ba-43a7-b28d-905c85d8c1ed",
      "name": "Report _Period"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Ensure User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure User": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Text Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Whisper STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper STT": {
      "main": [
        [
          {
            "node": "Set Voice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Voice Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get_Expenses": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Income": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_Expense": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_Income": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete_Expense": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete_Income": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Report _Daily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Report _Weekly": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Report _Monthly": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Report _Period": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "3bd415084c202701a4e18d9b066a68ad477720c950e1c2cba4cb2537b78acc07"
  }
}