n8n/workflows/ExchangeRates_Daily.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "4cc72807-a217-4ba5-9e5f-15562b8c7ddf",
      "name": "Every Day at 10:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1424,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://api.exchangerate-api.com/v4/latest/KGS",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "25ebc8b1-ba19-48fc-80b2-778687b459f2",
      "name": "Get Exchange Rates (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Получаем курсы из API\nconst rates = $input.item.json.rates;\nconst date = $input.item.json.date;\n\n// Формируем массив для вставки в БД\nconst exchangeRates = [];\n\n// Курсы от KGS к другим валютам\nconst currencies = ['USD', 'EUR', 'RUB'];\n\nfor (const currency of currencies) {\n  if (rates[currency]) {\n    // Прямой курс (KGS -> валюта)\n    exchangeRates.push({\n      date: new Date().toISOString().split('T')[0],\n      from_currency: 'KGS',\n      to_currency: currency,\n      rate: rates[currency],\n      source: 'ExchangeRate-API'\n    });\n    \n    // Обратный курс (валюта -> KGS)\n    exchangeRates.push({\n      date: new Date().toISOString().split('T')[0],\n      from_currency: currency,\n      to_currency: 'KGS',\n      rate: 1 / rates[currency],\n      source: 'ExchangeRate-API'\n    });\n  }\n}\n\n// Добавляем курс KGS -> KGS = 1\nexchangeRates.push({\n  date: new Date().toISOString().split('T')[0],\n  from_currency: 'KGS',\n  to_currency: 'KGS',\n  rate: 1.0,\n  source: 'SYSTEM'\n});\n\n// Кросс-курсы между USD, EUR, RUB\nif (rates.USD && rates.EUR) {\n  // USD <-> EUR\n  exchangeRates.push({\n    date: new Date().toISOString().split('T')[0],\n    from_currency: 'USD',\n    to_currency: 'EUR',\n    rate: rates.EUR / rates.USD,\n    source: 'ExchangeRate-API_CROSS'\n  });\n  exchangeRates.push({\n    date: new Date().toISOString().split('T')[0],\n    from_currency: 'EUR',\n    to_currency: 'USD',\n    rate: rates.USD / rates.EUR,\n    source: 'ExchangeRate-API_CROSS'\n  });\n}\n\nif (rates.USD && rates.RUB) {\n  // USD <-> RUB\n  exchangeRates.push({\n    date: new Date().toISOString().split('T')[0],\n    from_currency: 'USD',\n    to_currency: 'RUB',\n    rate: rates.RUB / rates.USD,\n    source: 'ExchangeRate-API_CROSS'\n  });\n  exchangeRates.push({\n    date: new Date().toISOString().split('T')[0],\n    from_currency: 'RUB',\n    to_currency: 'USD',\n    rate: rates.USD / rates.RUB,\n    source: 'ExchangeRate-API_CROSS'\n  });\n}\n\nif (rates.EUR && rates.RUB) {\n  // EUR <-> RUB\n  exchangeRates.push({\n    date: new Date().toISOString().split('T')[0],\n    from_currency: 'EUR',\n    to_currency: 'RUB',\n    rate: rates.RUB / rates.EUR,\n    source: 'ExchangeRate-API_CROSS'\n  });\n  exchangeRates.push({\n    date: new Date().toISOString().split('T')[0],\n    from_currency: 'RUB',\n    to_currency: 'EUR',\n    rate: rates.EUR / rates.RUB,\n    source: 'ExchangeRate-API_CROSS'\n  });\n}\n\nreturn exchangeRates.map(rate => ({ json: rate }));"
      },
      "id": "dd5bcedd-1c1c-4559-9002-b46d3604a96c",
      "name": "Transform Rates Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO exchange_rates (date, from_currency, to_currency, rate, source)\nVALUES (\n  '{{ $json.date }}',\n  '{{ $json.from_currency }}',\n  '{{ $json.to_currency }}',\n  {{ $json.rate }},\n  '{{ $json.source }}'\n)\nON CONFLICT (date, from_currency, to_currency)\nDO UPDATE SET\n  rate = EXCLUDED.rate,\n  updated_at = NOW()\nRETURNING *;",
        "options": {}
      },
      "id": "e00da040-f131-40cc-af00-e520bfa0a5c4",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "5T19Mbva6dh2EvkZ",
          "name": "Chyngyz account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подсчёт статистики\nconst items = $input.all();\nconst totalRates = items.length;\nconst currencies = new Set();\n\nitems.forEach(item => {\n  currencies.add(item.json.from_currency);\n  currencies.add(item.json.to_currency);\n});\n\nconst summary = {\n  date: new Date().toISOString().split('T')[0],\n  total_rates: totalRates,\n  currencies: Array.from(currencies).join(', '),\n  status: 'success',\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: summary }];"
      },
      "id": "b12985f4-137a-402b-8e37-c1b45bdc4b8b",
      "name": "Create Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        112
      ]
    },
    {
      "parameters": {
        "chatId": "1109421300",
        "text": "=✅ *Курсы валют обновлены*\n\n📅 Дата: {{ $json.date }}\n📊 Загружено курсов: {{ $json.total_rates }}\n💱 Валюты: {{ $json.currencies }}\n⏰ Время: {{ $json.timestamp }}\n\n_Следующее обновление: завтра в 10:00_",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "db922cfd-f089-434b-9d97-6dfa7a98cc8e",
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -304,
        112
      ],
      "credentials": {
        "telegramApi": {
          "id": "VsCo0z8ZzisDZOpw",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1109421300",
        "text": "=⚠️ *Ошибка обновления курсов*\n\n❌ Не удалось загрузить курсы валют\n📅 Дата: {{ $now.format('yyyy-MM-dd') }}\n⏰ Время: {{ $now.toISO() }}\n\n_Проверьте подключение к API_",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "798e7d3c-8f13-4469-a9b0-0913af336f86",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -976,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "VsCo0z8ZzisDZOpw",
          "name": "AIAccounter"
        }
      }
    }
  ],
  "connections": {
    "Every Day at 10:00 AM": {
      "main": [
        [
          {
            "node": "Get Exchange Rates (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Exchange Rates (API)": {
      "main": [
        [
          {
            "node": "Transform Rates Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Rates Data": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bd415084c202701a4e18d9b066a68ad477720c950e1c2cba4cb2537b78acc07"
  }
}