n8n/workflows/Helper AI Financer.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "type": "number"
            },
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2384,
        208
      ],
      "id": "4a99ccd3-83a3-461d-a610-3360cff97b90",
      "name": "When Called",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User ID: {{ $json.user_id }}\nQuery: {{ $json.query }}",
        "options": {
          "systemMessage": "Вы - вспомогательный AI агент для финансового ассистента.\n\n🎯 ЗАДАЧИ:\n1. Обрабатывать сложные запросы от главного агента\n2. Выполнять специализированные операции\n3. Использовать инструменты для работы с БД\n4. Генерировать финансовые отчеты в PDF\n\n📊 ДОСТУПНЫЕ ИНСТРУМЕНТЫ:\n\n**CRUD Операции:**\n- Create Income/Expenses - добавление транзакций\n- Delete Income/Expenses - удаление транзакций\n\n**Отчеты:**\n- Reports Agent - генерация PDF отчетов за любой период\n  (используй когда нужен отчет, например: \"отчет за ноябрь\", \"дай отчет за последнюю неделю\")\n\n💬 СТИЛЬ:\nРаботай быстро и точно. Возвращай структурированный результат."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2048,
        -592
      ],
      "id": "24075efe-b1e7-4578-ae52-507e3f910dde",
      "name": "Helper AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2160,
        -368
      ],
      "id": "21304b94-2902-4ad9-b94d-0007fcf89fde",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "D1aWHG8Msi15h2ih",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.user_id || 'default' }}",
        "tableName": "n8n_chat_histories_general",
        "contextWindowLength": 12
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2032,
        -368
      ],
      "id": "ba18670d-ca3d-43d7-94fa-f6dbed872bee",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "TKaoUfPabvnDB4Ak",
          "name": "AIAccounter supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result_field",
              "name": "result",
              "value": "={{ $json.output || 'PDF отчет успешно сгенерирован' }}",
              "type": "string"
            },
            {
              "id": "pdf_url_field",
              "name": "pdf_url",
              "value": "={{ $json.download_url || '' }}",
              "type": "string"
            },
            {
              "id": "user_id_field",
              "name": "user_id",
              "value": "={{ $('Prepare Input').item.json.user_id }}",
              "type": "number"
            },
            {
              "id": "chat_id_field",
              "name": "telegram_chat_id",
              "value": "={{ $('Prepare Input').item.json.telegram_chat_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1408,
        -384
      ],
      "id": "db13e381-140e-43aa-bd4b-470d31e7a108",
      "name": "Return Result"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3280,
        -304
      ],
      "id": "018cd6e1-c0a0-4f25-8de5-3d9af63ec5cd",
      "name": "Daily Trigger (21:00)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3280,
        -112
      ],
      "id": "2e9260b2-d886-4a8a-9e22-b58723ce57e3",
      "name": "Weekly Trigger (Sun 21:00)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3280,
        96
      ],
      "id": "bfd83586-89df-4a7f-b260-70b2f384929f",
      "name": "Monthly Trigger (1st 09:00)"
    },
    {
      "parameters": {
        "jsCode": "// Определяем тип отчета по имени триггера\nconst triggerNode = $('Daily Trigger (21:00)').first() ? 'daily' : \n                   $('Weekly Trigger (Sun 21:00)').first() ? 'weekly' : \n                   $('Monthly Trigger (1st 09:00)').first() ? 'monthly' : 'manual';\n\nlet query = '';\nif (triggerNode === 'daily') query = 'отчет за сегодня';\nelse if (triggerNode === 'weekly') query = 'отчет за последнюю неделю';\nelse if (triggerNode === 'monthly') query = 'отчет за прошлый месяц';\n\nreturn {\n  json: {\n    is_schedule: triggerNode !== 'manual',\n    report_type: triggerNode,\n    query: query\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        -112
      ],
      "id": "b6e8944a-830f-47d7-88ff-26cc6199ec16",
      "name": "Determine Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, telegram_chat_id, first_name FROM users WHERE is_active = true AND telegram_chat_id IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2832,
        -112
      ],
      "id": "f5623912-5e80-4e0e-b810-8ccd711f9623",
      "name": "Get Active Users",
      "credentials": {
        "postgres": {
          "id": "TKaoUfPabvnDB4Ak",
          "name": "AIAccounter supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2608,
        -112
      ],
      "id": "5797e58d-29fd-4326-a29b-5119b22c0935",
      "name": "Loop Users"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "query_val",
              "name": "query",
              "value": "={{ $json.query ? $json.query : $('Determine Query').first().json.query }}",
              "type": "string"
            },
            {
              "id": "uid_val",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "chat_val",
              "name": "telegram_chat_id",
              "value": "={{ $json.telegram_chat_id }}",
              "type": "number"
            },
            {
              "id": "sched_val",
              "name": "is_schedule",
              "value": "={{ $json.query ? false : $('Determine Query').first().json.is_schedule }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2384,
        -384
      ],
      "id": "e408b0c1-b9fa-4020-b5d4-492f27144d15",
      "name": "Prepare Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check_schedule",
              "leftValue": "={{ $json.is_schedule }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        -384
      ],
      "id": "3b5f82e9-9226-44e4-918d-71a031051f0b",
      "name": "Is Schedule?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $json.result }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -960,
        -384
      ],
      "id": "74bf6475-6797-4b99-85c1-9a2bb70549b4",
      "name": "Send Schedule Text",
      "webhookId": "132852bf-5c91-49cd-8648-1eb8eba9888e",
      "credentials": {
        "telegramApi": {
          "id": "KYHLugYerbTJeC9p",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.pdf_url && $json.pdf_url != '' }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -736,
        -384
      ],
      "id": "c6816279-15e3-4773-8f32-1bb631e5939a",
      "name": "Has PDF Schedule?"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $json.telegram_chat_id }}",
        "file": "={{ $json.pdf_url }}",
        "additionalFields": {
          "caption": "📊 <b>Ваш детальный отчет в PDF формате</b>",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        -208
      ],
      "id": "8f2f6eab-835a-479d-a649-0b96d9e4f392",
      "name": "Send PDF Schedule",
      "webhookId": "f511cd48-f90c-4e76-9cf2-8f988e26e6b5",
      "credentials": {
        "telegramApi": {
          "id": "KYHLugYerbTJeC9p",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Добавляет запись о расходе в базу данных",
        "tableId": "expenses",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $fromAI('user_id', 'ID пользователя', 'number') }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $fromAI('amount', 'сумма расхода', 'number') }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $fromAI('category', 'категория расхода', 'string') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $fromAI('description', 'описание', 'string') }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $fromAI('currency', 'валюта: KGS, USD, EUR, RUB (по умолчанию KGS)', 'string') || 'KGS' }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $fromAI('date', 'дата транзакции', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1904,
        -368
      ],
      "id": "b987beba-9a8e-4d6c-bd91-c8cff8dc7414",
      "name": "Create Expense",
      "credentials": {
        "supabaseApi": {
          "id": "CZjEcmPMUjv3s8us",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "text": "=User ID: {{ $fromAI('user_id', 'User ID пользователя из контекста', 'number') }}\nQuery: {{ $fromAI('query', 'Запрос пользователя о создании отчета. Примеры: отчет за ноябрь, дай отчет за последнюю неделю, отчет с 1 по 15 декабря', 'string') }}",
        "options": {
          "systemMessage": "=Ты финансовый помощник, который генерирует красивые отчеты.\\n\\n🎯 ТВОЯ ЗАДАЧА:\\n1. Распознать user_id и период\\n2. Получить данные через Get Report Data\\n3. Сформировать КРАСИВЫЙ HTML ответ\\n\\n🎨 ОФОРМЛЕНИЕ (Telegram HTML):\\n- Используй теги <b>жирный</b>, <i>курсив</i>, <code>код</code>\\n- Используй эмодзи (💰, 💸, 📊, 🚀, ✨)\\n- Будь позитивным!\\n\\n📝 ПРИМЕР ОТВЕТА:\\n✨ <b>Ваш отчет за ноябрь готов!</b>\\n\\n📅 <b>Период:</b> <i>01.11.2025 - 30.11.2025</i>\\n\\n💰 <b>Доходы:</b> <code>50,000 KGS</code>\\n💸 <b>Расходы:</b> <code>30,000 KGS</code>\\n⚖️ <b>Баланс:</b> <b>+20,000 KGS</b> (Супер! 🚀)\\n\\n📄 <i>PDF файл с графиками сгенерирован.</i>\\n\\n⚠️ ВАЖНО:\\n- Даты в формате DD.MM.YYYY\\n- Передай user_id в инструменты!\\n\\nТекущая дата: {{ $now.format('DD.MM.YYYY') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1776,
        -368
      ],
      "id": "d8ae1d55-5fdf-4da2-9325-d39056b30e36",
      "name": "Reports Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1760,
        -160
      ],
      "id": "1d529985-c659-44ee-b970-d8b47fb02909",
      "name": "OpenAI Model (Reports)",
      "credentials": {
        "openAiApi": {
          "id": "D1aWHG8Msi15h2ih",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Получаем данные для отчета за период\nWITH period_expenses AS (\n  SELECT \n    DATE(date) as expense_date,\n    category,\n    SUM(amount) as daily_total,\n    currency,\n    COUNT(*) as transaction_count,\n    json_agg(\n      json_build_object(\n        'amount', amount,\n        'description', description,\n        'date', TO_CHAR(date, 'DD.MM.YYYY')\n      )\n    ) as transactions\n  FROM expenses\n  WHERE user_id = {{ $fromAI(\"user_id\", \"User ID пользователя (передай из входного промпта)\", \"number\") }}\n    AND date >= TO_DATE('{{ $fromAI(\"start_date\", \"Дата начала периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n    AND date <= TO_DATE('{{ $fromAI(\"end_date\", \"Дата окончания периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n  GROUP BY DATE(date), category, currency\n  ORDER BY DATE(date) DESC\n),\nperiod_income AS (\n  SELECT \n    DATE(date) as income_date,\n    category,\n    SUM(amount) as daily_total,\n    currency\n  FROM income\n  WHERE user_id = {{ $fromAI(\"user_id\", \"User ID пользователя (передай из входного промпта)\", \"number\") }}\n    AND date >= TO_DATE('{{ $fromAI(\"start_date\", \"Дата начала периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n    AND date <= TO_DATE('{{ $fromAI(\"end_date\", \"Дата окончания периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n  GROUP BY DATE(date), category, currency\n),\nperiod_summary AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total_expenses,\n    COUNT(*) as expense_count\n  FROM expenses\n  WHERE user_id = {{ $fromAI(\"user_id\", \"User ID пользователя (передай из входного промпта)\", \"number\") }}\n    AND date >= TO_DATE('{{ $fromAI(\"start_date\", \"Дата начала периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n    AND date <= TO_DATE('{{ $fromAI(\"end_date\", \"Дата окончания периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n),\nperiod_income_summary AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total_income,\n    COUNT(*) as income_count\n  FROM income\n  WHERE user_id = {{ $fromAI(\"user_id\", \"User ID пользователя (передай из входного промпта)\", \"number\") }}\n    AND date >= TO_DATE('{{ $fromAI(\"start_date\", \"Дата начала периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n    AND date <= TO_DATE('{{ $fromAI(\"end_date\", \"Дата окончания периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n),\ncategory_totals AS (\n  SELECT \n    category,\n    SUM(amount) as category_total,\n    CASE \n      WHEN (SELECT total_expenses FROM period_summary) > 0 \n      THEN ROUND((SUM(amount) / (SELECT total_expenses FROM period_summary)) * 100, 1)\n      ELSE 0\n    END as percentage\n  FROM expenses\n  WHERE user_id = {{ $fromAI(\"user_id\", \"User ID пользователя (передай из входного промпта)\", \"number\") }}\n    AND date >= TO_DATE('{{ $fromAI(\"start_date\", \"Дата начала периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n    AND date <= TO_DATE('{{ $fromAI(\"end_date\", \"Дата окончания периода в формате DD.MM.YYYY\", \"string\") }}', 'DD.MM.YYYY')\n  GROUP BY category\n  ORDER BY category_total DESC\n)\nSELECT \n  {{ $fromAI(\"user_id\", \"User ID пользователя (передай из входного промпта)\", \"number\") }} as user_id,\n  ps.total_expenses,\n  pis.total_income,\n  ps.expense_count,\n  pis.income_count,\n  (SELECT json_agg(row_to_json(pe.*)) FROM period_expenses pe) as expenses_by_day,\n  (SELECT json_agg(row_to_json(pi.*)) FROM period_income pi) as income_by_day,\n  (SELECT json_agg(row_to_json(ct.*)) FROM category_totals ct) as category_totals,\n  '{{ $fromAI(\"start_date\", \"Дата начала периода в формате DD.MM.YYYY\", \"string\") }}' as period_start,\n  '{{ $fromAI(\"end_date\", \"Дата окончания периода в формате DD.MM.YYYY\", \"string\") }}' as period_end\nFROM period_summary ps\nCROSS JOIN period_income_summary pis;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -1632,
        -160
      ],
      "id": "53df1a1f-9c69-4d6f-b5dd-2118620a41cf",
      "name": "Get Report Data",
      "credentials": {
        "postgres": {
          "id": "TKaoUfPabvnDB4Ak",
          "name": "AIAccounter supabase"
        }
      }
    },
    {
      "parameters": {
        "resource": "pdf",
        "pdfTemplateId": "49c77b23ede0d4e6",
        "jsonParameters": true,
        "propertiesJson": "=// Получаем данные из Get Report Data\nconst data = $('Get Report Data').first().json;\n\n// Функция форматирования валюты\nfunction formatCurrency(amount, symbol = '₽') {\n  return `${Math.round(amount)} ${symbol}`;\n}\n\n// Рассчитываем период дней\nconst startDate = new Date(data.period_start.split('.').reverse().join('-'));\nconst endDate = new Date(data.period_end.split('.').reverse().join('-'));\nconst periodDays = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1;\n\n// Основные показатели\nconst totalExpenses = Math.round(parseFloat(data.total_expenses || 0));\nconst totalIncome = Math.round(parseFloat(data.total_income || 0));\nconst balance = totalIncome - totalExpenses;\nconst transactionCount = parseInt(data.expense_count || 0) + parseInt(data.income_count || 0);\n\n// Аналитические метрики\nconst avgExpensePerDay = Math.round(totalExpenses / periodDays);\nconst avgIncomePerDay = Math.round(totalIncome / periodDays);\n\n// Находим максимальный расход\nconst expensesByDay = data.expenses_by_day || [];\nlet maxExpense = 0;\nexpensesByDay.forEach(exp => {\n  const daily = parseFloat(exp.daily_total || 0);\n  if (daily > maxExpense) maxExpense = daily;\n});\nmaxExpense = Math.round(maxExpense);\n\n// Форматируем daily_data для графика\nconst dailyMap = {};\nexpensesByDay.forEach(exp => {\n  const date = new Date(exp.expense_date).toLocaleDateString('ru-RU', {day: '2-digit', month: '2-digit'});\n  if (!dailyMap[date]) dailyMap[date] = {date, expenses: 0, income: 0};\n  dailyMap[date].expenses += parseFloat(exp.daily_total || 0);\n});\n\nconst incomeByDay = data.income_by_day || [];\nincomeByDay.forEach(inc => {\n  const date = new Date(inc.income_date).toLocaleDateString('ru-RU', {day: '2-digit', month: '2-digit'});\n  if (!dailyMap[date]) dailyMap[date] = {date, expenses: 0, income: 0};\n  dailyMap[date].income += parseFloat(inc.daily_total || 0);\n});\n\nconst dailyData = Object.values(dailyMap).map(d => ({\n  date: d.date,\n  expenses: Math.round(d.expenses),\n  income: Math.round(d.income)\n}));\n\n// Форматируем категории\nconst categoryTotals = (data.category_totals || []).map(cat => ({\n  category: cat.category,\n  category_total: Math.round(parseFloat(cat.category_total || 0)),\n  category_total_formatted: formatCurrency(parseFloat(cat.category_total || 0)),\n  percentage: parseFloat(cat.percentage || 0)\n}));\n\n// Собираем все транзакции для таблицы\nconst allTransactions = [];\n\n// Добавляем расходы\nexpensesByDay.forEach(exp => {\n  const transactions = exp.transactions || [];\n  transactions.forEach(tx => {\n    allTransactions.push({\n      date: tx.date,\n      category: exp.category,\n      description: tx.description || 'Без описания',\n      type: 'expense',\n      amount: Math.round(parseFloat(tx.amount || 0)),\n      amount_formatted: formatCurrency(parseFloat(tx.amount || 0))\n    });\n  });\n});\n\n// Добавляем доходы\nincomeByDay.forEach(inc => {\n  const date = new Date(inc.income_date).toLocaleDateString('ru-RU', {day: '2-digit', month: '2-digit', year: 'numeric'});\n  allTransactions.push({\n    date: date,\n    category: inc.category,\n    description: inc.category,\n    type: 'income',\n    amount: Math.round(parseFloat(inc.daily_total || 0)),\n    amount_formatted: formatCurrency(parseFloat(inc.daily_total || 0))\n  });\n});\n\n// Сортируем транзакции по дате (новые первые)\nallTransactions.sort((a, b) => {\n  const dateA = a.date.split('.').reverse().join('');\n  const dateB = b.date.split('.').reverse().join('');\n  return dateB.localeCompare(dateA);\n});\n\n// Формируем итоговый объект\nJSON.stringify({\n  user_name: 'Пользователь',\n  period_start: data.period_start,\n  period_end: data.period_end,\n  period_days: periodDays,\n  currency_symbol: '₽',\n  \n  // Основные метрики\n  total_expenses: totalExpenses,\n  total_expenses_formatted: formatCurrency(totalExpenses),\n  total_income: totalIncome,\n  total_income_formatted: formatCurrency(totalIncome),\n  balance: balance,\n  balance_formatted: formatCurrency(balance),\n  transaction_count: transactionCount,\n  \n  // Аналитика\n  avg_expense_per_day: avgExpensePerDay,\n  avg_expense_per_day_formatted: formatCurrency(avgExpensePerDay),\n  avg_income_per_day: avgIncomePerDay,\n  avg_income_per_day_formatted: formatCurrency(avgIncomePerDay),\n  max_expense: maxExpense,\n  max_expense_formatted: formatCurrency(maxExpense),\n  \n  // Данные для графиков\n  daily_data: dailyData,\n  category_totals: categoryTotals,\n  \n  // Таблица транзакций (ограничиваем 50)\n  all_transactions: allTransactions.slice(0, 50)\n});"
      },
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        -1904,
        208
      ],
      "id": "00e7855b-4356-459d-b5fb-0c2c650d7670",
      "name": "Generate PDF Report",
      "credentials": {
        "apiTemplateIoApi": {
          "id": "NIFEHHMbU4WCVxC0",
          "name": "PDF Report"
        }
      }
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Helper AI Agent": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Helper AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Helper AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Return Result": {
      "main": [
        [
          {
            "node": "Is Schedule?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger (21:00)": {
      "main": [
        [
          {
            "node": "Determine Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger (Sun 21:00)": {
      "main": [
        [
          {
            "node": "Determine Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger (1st 09:00)": {
      "main": [
        [
          {
            "node": "Determine Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Query": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Loop Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Users": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Helper AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Schedule?": {
      "main": [
        [
          {
            "node": "Send Schedule Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Schedule Text": {
      "main": [
        [
          {
            "node": "Has PDF Schedule?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has PDF Schedule?": {
      "main": [
        [
          {
            "node": "Send PDF Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send PDF Schedule": {
      "main": [
        [
          {
            "node": "Loop Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Expense": {
      "ai_tool": [
        [
          {
            "node": "Helper AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reports Agent": {
      "ai_tool": [
        [
          {
            "node": "Helper AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model (Reports)": {
      "ai_languageModel": [
        [
          {
            "node": "Reports Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Report Data": {
      "ai_tool": [
        [
          {
            "node": "Reports Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF Report": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ece1bab2405716a7cfce686d1ebe9d72af95a53d05c0b295aab0a1ef9d0a512"
  }
}