n8n/workflows/Recurring_Payments_Checker.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Schedule: Daily 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -896,
        168
      ],
      "id": "deb748c2-1431-4e74-b715-6f58cd3d99d1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_pending_reminders();",
        "options": {}
      },
      "name": "Get Pending Reminders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -672,
        168
      ],
      "id": "e84c2aa8-9b9e-452a-a629-4ac4a292a21a",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "name": "Есть напоминания?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -448,
        168
      ],
      "id": "de92616f-5cbb-4514-952d-faa155ec895f"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        72
      ],
      "id": "8e640759-6f22-45e6-a6a9-3a29bba921c0"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Форматирование сообщения\nconst daysUntil = item.days_until_payment;\nconst amount = parseFloat(item.amount).toLocaleString('ru-RU');\nconst currency = item.currency;\n\n// Иконки валют\nconst currencySymbols = {\n  'KGS': 'с',\n  'USD': '$',\n  'EUR': '€',\n  'RUB': '₽'\n};\n\nconst symbol = currencySymbols[currency] || currency;\n\n// Формирование текста в зависимости от дней\nlet dateText;\nlet urgencyIcon;\nif (daysUntil === 0) {\n  dateText = 'СЕГОДНЯ';\n  urgencyIcon = '🚨';\n} else if (daysUntil === 1) {\n  dateText = 'ЗАВТРА';\n  urgencyIcon = '⚠️';\n} else {\n  dateText = `через ${daysUntil} дн.`;\n  urgencyIcon = '🔔';\n}\n\nconst message = `${urgencyIcon} Напоминание о платеже\\n\\n` +\n  `💰 ${item.title}\\n` +\n  `💵 Сумма: ${amount} ${symbol}\\n` +\n  `📂 Категория: ${item.category}\\n` +\n  `📅 Оплатить: ${dateText}\\n\\n` +\n  (item.auto_create ? '⚡ Автоплатеж включен\\n\\n' : '') +\n  `ID подписки: #${item.recurring_id}`;\n\nreturn {\n  json: {\n    user_id: item.user_id,\n    recurring_id: item.recurring_id,\n    message: message,\n    days_until: daysUntil\n  }\n};"
      },
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "34d36042-7518-4cd1-bc16-60c56834ec4f"
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "ece4989d-5d4f-4f09-b6a9-6ec12d062c05",
      "webhookId": "7f42e3f5-175a-4a1b-9638-4bdde53e0093",
      "credentials": {
        "telegramApi": {
          "id": "VsCo0z8ZzisDZOpw",
          "name": "AIAccounter"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT mark_reminder_sent({{ $json.recurring_id }});",
        "options": {}
      },
      "name": "Mark Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        448,
        72
      ],
      "id": "1ba43863-555f-495c-89c8-035dba7baf55",
      "credentials": {}
    },
    {
      "parameters": {},
      "name": "No Data",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -224,
        312
      ],
      "id": "26cccce4-546d-4a55-84ad-735f519a6d56",
      "notes": "Нет напоминаний на сегодня"
    },
    {
      "parameters": {
        "jsCode": "// Статистика выполнения\nconst items = $input.all();\nconst totalSent = items.length;\n\nconst summary = `✅ Проверка recurring payments завершена\\n\\n` +\n  `📊 Отправлено напоминаний: ${totalSent}\\n` +\n  `⏰ Время: ${new Date().toLocaleString('ru-RU', { timeZone: 'Asia/Bishkek' })}`;\n\nreturn {\n  json: {\n    total_sent: totalSent,\n    timestamp: new Date().toISOString(),\n    summary: summary\n  }\n};"
      },
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        312
      ],
      "id": "9a156402-ac88-4284-81ec-cec3200835e7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notifications (user_id, notification_type, title, message, priority, is_sent, sent_at)\\nVALUES (\\n  1109421300, -- admin user_id\\n  'custom',\\n  '🔔 Recurring Payments Check',\\n  '{{ $json.summary }}',\\n  'low',\\n  TRUE,\\n  NOW()\\n);",
        "options": {}
      },
      "name": "Log to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        224,
        312
      ],
      "id": "07c82ad7-95d0-436f-84ed-8a52a4e2f196",
      "credentials": {},
      "notes": "Логирование для мониторинга"
    }
  ],
  "connections": {
    "Schedule: Daily 09:00": {
      "main": [
        [
          {
            "node": "Get Pending Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Reminders": {
      "main": [
        [
          {
            "node": "Есть напоминания?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть напоминания?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sent": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Data": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Log to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bd415084c202701a4e18d9b066a68ad477720c950e1c2cba4cb2537b78acc07"
  }
}