n8n/workflows/Reports.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reports-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        576
      ],
      "id": "169ac2e0-80e2-4842-9d8b-28e406e7b281",
      "name": "Reports Webhook",
      "webhookId": "reports-webhook-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rt",
              "name": "report_type",
              "value": "={{ $json.body.report_type }}",
              "type": "string"
            },
            {
              "id": "uid",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "number"
            },
            {
              "id": "cid",
              "name": "chat_id",
              "value": "={{ $json.body.chat_id }}",
              "type": "number"
            },
            {
              "id": "fn",
              "name": "first_name",
              "value": "={{ $json.body.first_name || 'Пользователь' }}",
              "type": "string"
            },
            {
              "id": "sd",
              "name": "start_date",
              "value": "={{ $json.body.start_date || '' }}",
              "type": "string"
            },
            {
              "id": "ed",
              "name": "end_date",
              "value": "={{ $json.body.end_date || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        576
      ],
      "id": "f864c1ad-6156-454b-b2dc-422a4be9f5c6",
      "name": "Normalize Webhook Data"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4ccf5a72-0e83-4eb4-b7dc-64681b3e78ac",
      "name": "Daily 21:00"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "id": "beae34d4-9c84-422d-8052-450df5b94e0d",
      "name": "Weekly Sunday 10:00"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 1 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        384
      ],
      "id": "ab243ce4-e725-41f4-b772-7724849d4990",
      "name": "Monthly 1st 10:00"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, telegram_chat_id as chat_id, first_name FROM users WHERE is_active = true AND telegram_chat_id IS NOT NULL AND last_activity >= NOW() - INTERVAL '7 days'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "b2e0542f-af48-485b-9141-efa16fb4dc1e",
      "name": "Get Users Daily",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, telegram_chat_id as chat_id, first_name FROM users WHERE is_active = true AND telegram_chat_id IS NOT NULL AND last_activity >= NOW() - INTERVAL '14 days'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        192
      ],
      "id": "a2ad29f6-ed20-41df-b09d-ef32f194f10e",
      "name": "Get Users Weekly",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, telegram_chat_id as chat_id, first_name FROM users WHERE is_active = true AND telegram_chat_id IS NOT NULL AND last_activity >= NOW() - INTERVAL '35 days'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        384
      ],
      "id": "55e5ee78-598c-4ec6-870e-e6f21a447d73",
      "name": "Get Users Monthly",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rt",
              "name": "report_type",
              "value": "daily",
              "type": "string"
            },
            {
              "id": "uid",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "cid",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "fn",
              "name": "first_name",
              "value": "={{ $json.first_name || 'Пользователь' }}",
              "type": "string"
            },
            {
              "id": "sd",
              "name": "start_date",
              "value": "",
              "type": "string"
            },
            {
              "id": "ed",
              "name": "end_date",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "256ca65f-e03c-4112-af1e-4acf4b398db8",
      "name": "Set Daily"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rt",
              "name": "report_type",
              "value": "weekly",
              "type": "string"
            },
            {
              "id": "uid",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "cid",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "fn",
              "name": "first_name",
              "value": "={{ $json.first_name || 'Пользователь' }}",
              "type": "string"
            },
            {
              "id": "sd",
              "name": "start_date",
              "value": "",
              "type": "string"
            },
            {
              "id": "ed",
              "name": "end_date",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        192
      ],
      "id": "95a2df3b-a3b4-4134-a7ae-9314752bffbb",
      "name": "Set Weekly"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rt",
              "name": "report_type",
              "value": "monthly",
              "type": "string"
            },
            {
              "id": "uid",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "cid",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "fn",
              "name": "first_name",
              "value": "={{ $json.first_name || 'Пользователь' }}",
              "type": "string"
            },
            {
              "id": "sd",
              "name": "start_date",
              "value": "",
              "type": "string"
            },
            {
              "id": "ed",
              "name": "end_date",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        384
      ],
      "id": "72ea7b80-2d66-48c5-9861-e7277bff03cf",
      "name": "Set Monthly"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.report_type }}",
                    "rightValue": "daily",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "daily"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.report_type }}",
                    "rightValue": "weekly",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "weekly"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.report_type }}",
                    "rightValue": "monthly",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "monthly"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.report_type }}",
                    "rightValue": "period",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "period"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        672,
        256
      ],
      "id": "53e0d24c-c1c8-4a51-8bbe-560cca30b067",
      "name": "Report Router"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH today_expenses AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total,\n    COUNT(*) as count,\n    COALESCE(json_agg(json_build_object(\n      'category', category,\n      'amount', amount,\n      'description', COALESCE(description, '')\n    ) ORDER BY amount DESC) FILTER (WHERE id IS NOT NULL), '[]'::json) as details\n  FROM expenses \n  WHERE user_id = {{ $json.user_id }} \n    AND DATE(date) = CURRENT_DATE \n    AND deleted_at IS NULL\n),\ntoday_income AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total,\n    COUNT(*) as count\n  FROM income \n  WHERE user_id = {{ $json.user_id }} \n    AND DATE(date) = CURRENT_DATE \n    AND deleted_at IS NULL\n)\nSELECT \n  {{ $json.user_id }}::bigint as user_id,\n  {{ $json.chat_id }}::bigint as chat_id,\n  '{{ $json.first_name }}' as first_name,\n  'daily' as report_type,\n  TO_CHAR(CURRENT_DATE, 'DD.MM.YYYY') as period,\n  CURRENT_DATE as period_start,\n  CURRENT_DATE as period_end,\n  e.total as expenses_total,\n  e.count as expenses_count,\n  e.details as expenses_details,\n  i.total as income_total,\n  i.count as income_count,\n  i.total - e.total as balance\nFROM today_expenses e \nCROSS JOIN today_income i",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        0
      ],
      "id": "67b2f781-22ce-4c55-bb1e-ebe778f44fcf",
      "name": "Get Daily Data",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH week_start AS (SELECT (CURRENT_DATE - INTERVAL '6 days')::date as start_dt),\nweek_expenses AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total,\n    COUNT(*) as count,\n    COALESCE(json_agg(json_build_object(\n      'date', TO_CHAR(date, 'DD.MM'),\n      'category', category,\n      'amount', amount\n    ) ORDER BY date DESC) FILTER (WHERE id IS NOT NULL), '[]'::json) as details\n  FROM expenses, week_start ws\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= ws.start_dt\n    AND deleted_at IS NULL\n),\nweek_income AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total,\n    COUNT(*) as count\n  FROM income, week_start ws\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= ws.start_dt\n    AND deleted_at IS NULL\n),\ncategory_stats AS (\n  SELECT \n    category,\n    SUM(amount) as total\n  FROM expenses, week_start ws\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= ws.start_dt\n    AND deleted_at IS NULL\n  GROUP BY category \n  ORDER BY total DESC \n  LIMIT 5\n),\ndaily_expenses AS (\n  SELECT \n    date,\n    SUM(amount) as amount\n  FROM expenses, week_start ws\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= ws.start_dt\n    AND deleted_at IS NULL\n  GROUP BY date\n),\ndaily_income AS (\n  SELECT \n    date,\n    SUM(amount) as amount\n  FROM income, week_start ws\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= ws.start_dt\n    AND deleted_at IS NULL\n  GROUP BY date\n),\nall_days AS (\n  SELECT generate_series(\n    (SELECT start_dt FROM week_start),\n    CURRENT_DATE,\n    '1 day'::interval\n  )::date as date\n),\ndaily_combined AS (\n  SELECT \n    ad.date,\n    TO_CHAR(ad.date, 'DD.MM') as day,\n    COALESCE(de.amount, 0) as expenses,\n    COALESCE(di.amount, 0) as income,\n    COALESCE(di.amount, 0) - COALESCE(de.amount, 0) as balance\n  FROM all_days ad\n  LEFT JOIN daily_expenses de ON ad.date = de.date\n  LEFT JOIN daily_income di ON ad.date = di.date\n  ORDER BY ad.date\n)\nSELECT \n  {{ $json.user_id }}::bigint as user_id,\n  {{ $json.chat_id }}::bigint as chat_id,\n  '{{ $json.first_name }}' as first_name,\n  'weekly' as report_type,\n  TO_CHAR(ws.start_dt, 'DD.MM.YYYY') as period_start,\n  TO_CHAR(CURRENT_DATE, 'DD.MM.YYYY') as period_end,\n  TO_CHAR(ws.start_dt, 'YYYY-MM-DD') as period_start_date,\n  TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD') as period_end_date,\n  e.total as expenses_total,\n  e.count as expenses_count,\n  e.details as expenses_details,\n  i.total as income_total,\n  i.count as income_count,\n  i.total - e.total as balance,\n  (SELECT COALESCE(json_agg(json_build_object('category', category, 'total', total, 'percent', ROUND(total * 100.0 / NULLIF(e.total, 0), 1))), '[]'::json) FROM category_stats) as top_categories,\n  (SELECT COALESCE(json_agg(json_build_object('day', dc.day, 'date', TO_CHAR(dc.date, 'DD.MM'), 'expenses', dc.expenses, 'income', dc.income, 'balance', dc.balance) ORDER BY dc.date), '[]'::json) FROM daily_combined dc) as daily_data,\n  ROUND(e.total / 7.0, 0) as avg_daily\nFROM week_start ws\nCROSS JOIN week_expenses e\nCROSS JOIN week_income i",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        192
      ],
      "id": "7a666ee0-3009-4d17-a9e2-055b3b9f9276",
      "name": "Get Weekly Data",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH month_bounds AS (\n  SELECT \n    DATE_TRUNC('month', CURRENT_DATE)::date as start_dt,\n    (DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month' - INTERVAL '1 day')::date as end_dt\n),\nmonth_expenses AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total,\n    COUNT(*) as count,\n    COALESCE(json_agg(json_build_object(\n      'date', TO_CHAR(date, 'DD.MM'),\n      'category', category,\n      'amount', amount\n    ) ORDER BY date DESC) FILTER (WHERE id IS NOT NULL), '[]'::json) as details\n  FROM expenses, month_bounds mb\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= mb.start_dt\n    AND date <= mb.end_dt\n    AND deleted_at IS NULL\n),\nmonth_income AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total,\n    COUNT(*) as count\n  FROM income, month_bounds mb\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= mb.start_dt\n    AND date <= mb.end_dt\n    AND deleted_at IS NULL\n),\ncategory_stats AS (\n  SELECT \n    category,\n    SUM(amount) as total,\n    COUNT(*) as cnt\n  FROM expenses, month_bounds mb\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= mb.start_dt\n    AND date <= mb.end_dt\n    AND deleted_at IS NULL\n  GROUP BY category \n  ORDER BY total DESC\n),\nweekly_stats AS (\n  SELECT \n    CASE \n      WHEN EXTRACT(DAY FROM date) <= 7 THEN 1\n      WHEN EXTRACT(DAY FROM date) <= 14 THEN 2\n      WHEN EXTRACT(DAY FROM date) <= 21 THEN 3\n      ELSE 4\n    END as week_num,\n    SUM(amount) as expenses\n  FROM expenses, month_bounds mb\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= mb.start_dt\n    AND date <= mb.end_dt\n    AND deleted_at IS NULL\n  GROUP BY week_num\n),\nweekly_income AS (\n  SELECT \n    CASE \n      WHEN EXTRACT(DAY FROM date) <= 7 THEN 1\n      WHEN EXTRACT(DAY FROM date) <= 14 THEN 2\n      WHEN EXTRACT(DAY FROM date) <= 21 THEN 3\n      ELSE 4\n    END as week_num,\n    SUM(amount) as income\n  FROM income, month_bounds mb\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= mb.start_dt\n    AND date <= mb.end_dt\n    AND deleted_at IS NULL\n  GROUP BY week_num\n),\nall_weeks AS (\n  SELECT generate_series(1, 4) as week_num\n),\nweekly_combined AS (\n  SELECT \n    aw.week_num,\n    'Неделя ' || aw.week_num as label,\n    COALESCE(ws.expenses, 0) as expenses,\n    COALESCE(wi.income, 0) as income\n  FROM all_weeks aw\n  LEFT JOIN weekly_stats ws ON aw.week_num = ws.week_num\n  LEFT JOIN weekly_income wi ON aw.week_num = wi.week_num\n  ORDER BY aw.week_num\n),\nbudget_info AS (\n  SELECT budget_amount, currency \n  FROM budgets \n  WHERE user_id = {{ $json.user_id }} \n    AND month = TO_CHAR(CURRENT_DATE, 'YYYY-MM') \n  LIMIT 1\n)\nSELECT \n  {{ $json.user_id }}::bigint as user_id,\n  {{ $json.chat_id }}::bigint as chat_id,\n  '{{ $json.first_name }}' as first_name,\n  'monthly' as report_type,\n  TO_CHAR(mb.start_dt, 'DD.MM.YYYY') as period_start,\n  TO_CHAR(mb.end_dt, 'DD.MM.YYYY') as period_end,\n  TO_CHAR(mb.start_dt, 'YYYY-MM-DD') as period_start_date,\n  TO_CHAR(mb.end_dt, 'YYYY-MM-DD') as period_end_date,\n  TRIM(TO_CHAR(CURRENT_DATE, 'Month YYYY')) as month_name,\n  e.total as expenses_total,\n  e.count as expenses_count,\n  e.details as expenses_details,\n  i.total as income_total,\n  i.count as income_count,\n  i.total - e.total as balance,\n  (SELECT COALESCE(json_agg(json_build_object('category', category, 'total', total, 'percent', ROUND(total * 100.0 / NULLIF(e.total, 0), 1), 'count', cnt)), '[]'::json) FROM category_stats) as category_breakdown,\n  (SELECT COALESCE(json_agg(json_build_object('label', wc.label, 'expenses', wc.expenses, 'income', wc.income) ORDER BY wc.week_num), '[]'::json) FROM weekly_combined wc) as weekly_data,\n  COALESCE(b.budget_amount, 0) as budget_amount,\n  CASE WHEN COALESCE(b.budget_amount, 0) > 0 THEN ROUND(e.total * 100.0 / b.budget_amount, 1) ELSE 0 END as budget_used_percent,\n  ROUND(e.total / NULLIF(EXTRACT(DAY FROM CURRENT_DATE), 0), 0) as avg_daily,\n  ROUND(i.total / NULLIF(EXTRACT(DAY FROM CURRENT_DATE), 0), 0) as avg_daily_income\nFROM month_bounds mb\nCROSS JOIN month_expenses e\nCROSS JOIN month_income i\nLEFT JOIN budget_info b ON true",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        384
      ],
      "id": "3e04cc82-b555-4265-b29c-7c7dcaaab2be",
      "name": "Get Monthly Data",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH period_bounds AS (\n  SELECT \n    '{{ $json.start_date }}'::date as start_dt,\n    '{{ $json.end_date }}'::date as end_dt\n),\nperiod_expenses AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total,\n    COUNT(*) as count,\n    COALESCE(json_agg(json_build_object(\n      'date', TO_CHAR(date, 'DD.MM'),\n      'category', category,\n      'amount', amount,\n      'description', COALESCE(description, '')\n    ) ORDER BY date DESC) FILTER (WHERE id IS NOT NULL), '[]'::json) as details\n  FROM expenses, period_bounds pb\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= pb.start_dt\n    AND date <= pb.end_dt\n    AND deleted_at IS NULL\n),\nperiod_income AS (\n  SELECT \n    COALESCE(SUM(amount), 0) as total,\n    COUNT(*) as count\n  FROM income, period_bounds pb\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= pb.start_dt\n    AND date <= pb.end_dt\n    AND deleted_at IS NULL\n),\ncategory_stats AS (\n  SELECT \n    category,\n    SUM(amount) as total\n  FROM expenses, period_bounds pb\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= pb.start_dt\n    AND date <= pb.end_dt\n    AND deleted_at IS NULL\n  GROUP BY category \n  ORDER BY total DESC\n),\ndaily_stats AS (\n  SELECT \n    TO_CHAR(date, 'DD.MM') as day,\n    SUM(amount) as expenses\n  FROM expenses, period_bounds pb\n  WHERE user_id = {{ $json.user_id }} \n    AND date >= pb.start_dt\n    AND date <= pb.end_dt\n    AND deleted_at IS NULL\n  GROUP BY date \n  ORDER BY date\n)\nSELECT \n  {{ $json.user_id }}::bigint as user_id,\n  {{ $json.chat_id }}::bigint as chat_id,\n  '{{ $json.first_name }}' as first_name,\n  'period' as report_type,\n  TO_CHAR(pb.start_dt, 'DD.MM.YYYY') as period_start,\n  TO_CHAR(pb.end_dt, 'DD.MM.YYYY') as period_end,\n  TO_CHAR(pb.start_dt, 'YYYY-MM-DD') as period_start_date,\n  TO_CHAR(pb.end_dt, 'YYYY-MM-DD') as period_end_date,\n  (pb.end_dt - pb.start_dt + 1) as period_days,\n  e.total as expenses_total,\n  e.count as expenses_count,\n  e.details as expenses_details,\n  i.total as income_total,\n  i.count as income_count,\n  i.total - e.total as balance,\n  (SELECT COALESCE(json_agg(json_build_object('category', category, 'total', total, 'percent', ROUND(total * 100.0 / NULLIF(e.total, 0), 1))), '[]'::json) FROM category_stats) as category_breakdown,\n  (SELECT COALESCE(json_agg(json_build_object('day', day, 'expenses', expenses)), '[]'::json) FROM daily_stats) as daily_data,\n  ROUND(e.total / NULLIF((pb.end_dt - pb.start_dt + 1), 0), 0) as avg_daily\nFROM period_bounds pb\nCROSS JOIN period_expenses e\nCROSS JOIN period_income i",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        576
      ],
      "id": "f627abb6-133b-4c2f-a6cf-843a3b35c6fa",
      "name": "Get Period Data",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst details = d.expenses_details || [];\n\nlet detailsText = '';\nif (Array.isArray(details) && details.length > 0) {\n  detailsText = details.slice(0, 5).map(e => \n    `  • ${e.category}: ${Math.round(e.amount)} KGS${e.description ? ' — ' + e.description : ''}`\n  ).join('\\n');\n} else {\n  detailsText = '  📭 Нет расходов за сегодня';\n}\n\nconst balanceEmoji = d.balance >= 0 ? '📈' : '📉';\nconst balanceSign = d.balance >= 0 ? '+' : '';\n\n// AI Комментарий\nlet aiComment = '';\nif (d.expenses_count === 0) {\n  aiComment = '\\n\\n🤖 <b>AI:</b> Отличный день без трат! Так держать 💪';\n} else if (d.expenses_total > d.income_total && d.income_total > 0) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> Сегодня расходы превысили доходы. Постарайтесь контролировать траты завтра.`;\n} else if (d.expenses_count > 5) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> Много мелких покупок сегодня (${d.expenses_count}). Мелочи могут накапливаться!`;\n} else if (d.balance > 0) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> Хороший день! Вы в плюсе на ${Math.round(d.balance).toLocaleString()} KGS 👍`;\n}\n\nconst message = `🌙 <b>Ежедневный отчёт</b>\\n` +\n  `📅 ${d.period}\\n\\n` +\n  `💸 <b>Расходы:</b> ${Math.round(d.expenses_total).toLocaleString()} KGS (${d.expenses_count} операций)\\n` +\n  `💰 <b>Доходы:</b> ${Math.round(d.income_total).toLocaleString()} KGS (${d.income_count} операций)\\n` +\n  `${balanceEmoji} <b>Баланс:</b> ${balanceSign}${Math.round(d.balance).toLocaleString()} KGS\\n\\n` +\n  `📋 <b>Детали расходов:</b>\\n${detailsText}` +\n  aiComment;\n\nreturn { json: { ...d, message } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "02410dad-f3e7-4fab-a289-0bf2bb05d25d",
      "name": "Format Daily"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst cats = d.top_categories || [];\n\nlet catsText = '';\nif (Array.isArray(cats) && cats.length > 0) {\n  catsText = cats.slice(0, 5).map(c => `  • ${c.category}: ${Math.round(c.total).toLocaleString()} KGS (${c.percent || 0}%)`).join('\\n');\n} else {\n  catsText = '  📭 Нет данных';\n}\n\nconst balanceEmoji = d.balance >= 0 ? '📈' : '📉';\nconst balanceSign = d.balance >= 0 ? '+' : '';\n\n// AI Комментарий\nlet aiComment = '';\nconst topCat = cats[0];\nif (topCat && topCat.percent > 40) {\n  aiComment = `\\n🤖 <b>AI:</b> Больше всего вы тратите на «${topCat.category}» — это ${topCat.percent}% расходов за неделю.`;\n} else if (d.balance < 0) {\n  aiComment = `\\n🤖 <b>AI:</b> На этой неделе расходы превысили доходы на ${Math.abs(Math.round(d.balance)).toLocaleString()} KGS. Рекомендую пересмотреть траты.`;\n} else if (d.balance > d.income_total * 0.3 && d.income_total > 0) {\n  aiComment = `\\n🤖 <b>AI:</b> Отлично! Вы сэкономили ${Math.round(d.balance).toLocaleString()} KGS — это ${Math.round(d.balance / d.income_total * 100)}% от доходов. Так держать! 💪`;\n} else if (d.expenses_count > 20) {\n  aiComment = `\\n🤖 <b>AI:</b> У вас ${d.expenses_count} транзакций за неделю — много мелких покупок. Попробуйте планировать траты заранее.`;\n}\n\nconst message = `📊 <b>Недельный отчёт</b>\\n` +\n  `📅 ${d.period_start} — ${d.period_end}\\n\\n` +\n  `💸 <b>Расходы:</b> ${Math.round(d.expenses_total).toLocaleString()} KGS (${d.expenses_count} операций)\\n` +\n  `💰 <b>Доходы:</b> ${Math.round(d.income_total).toLocaleString()} KGS (${d.income_count} операций)\\n` +\n  `${balanceEmoji} <b>Баланс:</b> ${balanceSign}${Math.round(d.balance).toLocaleString()} KGS\\n` +\n  `📉 <b>Средний расход/день:</b> ${Math.round(d.avg_daily || 0).toLocaleString()} KGS\\n\\n` +\n  `🏆 <b>Топ категорий:</b>\\n${catsText}` +\n  aiComment +\n  `\\n\\n📄 <i>PDF отчёт формируется...</i>`;\n\nreturn { json: { ...d, message } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        192
      ],
      "id": "b5a7eccd-cec4-4535-9a62-522ace40ec06",
      "name": "Format Weekly"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst cats = d.category_breakdown || [];\n\nlet catsText = '';\nif (Array.isArray(cats) && cats.length > 0) {\n  catsText = cats.slice(0, 7).map(c => `  • ${c.category}: ${Math.round(c.total).toLocaleString()} KGS (${c.percent || 0}%)`).join('\\n');\n} else {\n  catsText = '  📭 Нет данных';\n}\n\nlet budgetText = '';\nif (d.budget_amount > 0) {\n  const budgetEmoji = d.budget_used_percent > 100 ? '🚨' : (d.budget_used_percent > 80 ? '⚠️' : '✅');\n  budgetText = `${budgetEmoji} <b>Бюджет:</b> ${Math.round(d.expenses_total).toLocaleString()}/${Math.round(d.budget_amount).toLocaleString()} KGS (${d.budget_used_percent}%)\\n`;\n}\n\nconst balanceEmoji = d.balance >= 0 ? '📈' : '📉';\nconst balanceSign = d.balance >= 0 ? '+' : '';\n\n// AI Комментарий\nlet aiComment = '';\nconst topCat = cats[0];\nconst savingsRate = d.income_total > 0 ? Math.round(d.balance / d.income_total * 100) : 0;\n\nif (d.budget_amount > 0 && d.budget_used_percent > 100) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> В этом месяце вы превысили бюджет на ${Math.round(d.expenses_total - d.budget_amount).toLocaleString()} KGS. Рекомендую пересмотреть лимиты или сократить траты.`;\n} else if (topCat && topCat.percent > 50) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> Более половины расходов (${topCat.percent}%) ушло на «${topCat.category}». Возможно, стоит оптимизировать эту категорию.`;\n} else if (savingsRate >= 20) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> Отличный месяц! Вы сэкономили ${savingsRate}% от доходов. Это хорошая финансовая привычка! 🎉`;\n} else if (d.balance < 0) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> Расходы превысили доходы на ${Math.abs(Math.round(d.balance)).toLocaleString()} KGS. В следующем месяце постарайтесь контролировать траты.`;\n} else if (d.avg_daily > d.income_total / 30 && d.income_total > 0) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> Ваш средний расход в день (${Math.round(d.avg_daily).toLocaleString()} KGS) выше дневного дохода. Рекомендую планировать бюджет.`;\n}\n\nconst message = `📅 <b>Месячный отчёт</b>\\n` +\n  `🗓 ${(d.month_name || '').trim()}\\n\\n` +\n  `💸 <b>Расходы:</b> ${Math.round(d.expenses_total).toLocaleString()} KGS (${d.expenses_count} операций)\\n` +\n  `💰 <b>Доходы:</b> ${Math.round(d.income_total).toLocaleString()} KGS (${d.income_count} операций)\\n` +\n  `${balanceEmoji} <b>Баланс:</b> ${balanceSign}${Math.round(d.balance).toLocaleString()} KGS\\n` +\n  budgetText +\n  `📉 <b>Средний расход/день:</b> ${Math.round(d.avg_daily || 0).toLocaleString()} KGS\\n\\n` +\n  `🏆 <b>Расходы по категориям:</b>\\n${catsText}` +\n  aiComment +\n  `\\n\\n📄 <i>PDF отчёт формируется...</i>`;\n\nreturn { json: { ...d, message } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        384
      ],
      "id": "c359ace5-7925-42db-b48f-e6ea5f740569",
      "name": "Format Monthly"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst cats = d.category_breakdown || [];\n\nlet catsText = '';\nif (Array.isArray(cats) && cats.length > 0) {\n  catsText = cats.slice(0, 7).map(c => `  • ${c.category}: ${Math.round(c.total).toLocaleString()} KGS (${c.percent || 0}%)`).join('\\n');\n} else {\n  catsText = '  📭 Нет данных';\n}\n\nconst balanceEmoji = d.balance >= 0 ? '📈' : '📉';\nconst balanceSign = d.balance >= 0 ? '+' : '';\n\n// AI Комментарий\nlet aiComment = '';\nconst topCat = cats[0];\nconst avgDaily = d.avg_daily || 0;\nconst periodDays = d.period_days || 1;\n\nif (topCat && topCat.percent > 50) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> За этот период ${topCat.percent}% расходов ушло на «${topCat.category}». Это основная статья ваших трат.`;\n} else if (d.balance < 0) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> За период вы потратили больше, чем заработали. Дефицит: ${Math.abs(Math.round(d.balance)).toLocaleString()} KGS.`;\n} else if (d.balance > 0 && d.income_total > 0) {\n  const savePercent = Math.round(d.balance / d.income_total * 100);\n  aiComment = `\\n\\n🤖 <b>AI:</b> Вы сохранили ${savePercent}% от доходов за этот период. ${savePercent >= 20 ? 'Отличный результат! 🎉' : 'Неплохо, но можно лучше!'}`;\n} else if (d.expenses_count > periodDays * 3) {\n  aiComment = `\\n\\n🤖 <b>AI:</b> В среднем ${Math.round(d.expenses_count / periodDays)} покупок в день. Частые мелкие траты могут накапливаться.`;\n}\n\nconst message = `📆 <b>Отчёт за период</b>\\n` +\n  `📅 ${d.period_start} — ${d.period_end} (${d.period_days} дней)\\n\\n` +\n  `💸 <b>Расходы:</b> ${Math.round(d.expenses_total).toLocaleString()} KGS (${d.expenses_count} операций)\\n` +\n  `💰 <b>Доходы:</b> ${Math.round(d.income_total).toLocaleString()} KGS (${d.income_count} операций)\\n` +\n  `${balanceEmoji} <b>Баланс:</b> ${balanceSign}${Math.round(d.balance).toLocaleString()} KGS\\n` +\n  `📉 <b>Средний расход/день:</b> ${Math.round(d.avg_daily || 0).toLocaleString()} KGS\\n\\n` +\n  `🏆 <b>Расходы по категориям:</b>\\n${catsText}` +\n  aiComment +\n  `\\n\\n📄 <i>PDF отчёт формируется...</i>`;\n\nreturn { json: { ...d, message } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        576
      ],
      "id": "973824d7-7e57-41ad-906f-afc0ed9c1880",
      "name": "Format Period"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        0
      ],
      "id": "6692e681-1895-484a-be1d-be10aa835426",
      "name": "Send Daily",
      "webhookId": "677b78ed-9c07-4f47-9f16-635367fd12a1",
      "credentials": {
        "telegramApi": {
          "id": "muLBxDioRmwKQgZe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        192
      ],
      "id": "02ae0404-6b9d-4d21-9e74-614f06ff59c3",
      "name": "Send Weekly Text",
      "webhookId": "dd603590-8658-4ae0-b907-1fb77d732709",
      "credentials": {
        "telegramApi": {
          "id": "muLBxDioRmwKQgZe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        384
      ],
      "id": "f1137cb3-0c76-4cb9-b409-f302463ba1af",
      "name": "Send Monthly Text",
      "webhookId": "278c1ae9-1475-4fbc-ba3a-1cf8f44ef794",
      "credentials": {
        "telegramApi": {
          "id": "muLBxDioRmwKQgZe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        576
      ],
      "id": "70758ceb-3c4c-4977-b52a-01499b74b6ce",
      "name": "Send Period Text",
      "webhookId": "6492ee7f-5b71-49da-9d71-4b5d91aa939c",
      "credentials": {
        "telegramApi": {
          "id": "muLBxDioRmwKQgZe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res",
              "name": "result",
              "value": "✅ Ежедневный отчёт отправлен",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        0
      ],
      "id": "ba6aee50-33b7-4344-943e-205164c8c69a",
      "name": "Daily Result"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Get Weekly Data').first().json;\nconst cats = d.top_categories || [];\nconst daily = d.daily_data || [];\n\nconst expTotal = Math.round(Number(d.expenses_total) || 0);\nconst incTotal = Math.round(Number(d.income_total) || 0);\nconst bal = Math.round(Number(d.balance) || 0);\n\nreturn { json: {\n  title: '📊 Недельный финансовый отчет',\n  user_name: d.first_name || 'Пользователь',\n  period: `${d.period_start} — ${d.period_end}`,\n  currency_symbol: 'KGS',\n  total_expenses: expTotal,\n  total_income: incTotal,\n  balance: bal,\n  transaction_count: (Number(d.expenses_count) || 0) + (Number(d.income_count) || 0),\n  expense_count: Number(d.expenses_count) || 0,\n  income_count: Number(d.income_count) || 0,\n  avg_daily_expense: Math.round(Number(d.avg_daily) || 0),\n  avg_daily_income: Math.round(incTotal / 7),\n  top_categories_table: Array.isArray(cats) ? cats.map(c => ({\n    label: c.category,\n    value: Math.round(Number(c.total) || 0),\n    percentage: Number(c.percent) || 0\n  })) : [],\n  daily_details: Array.isArray(daily) ? daily.map(dd => ({\n    date: dd.day || dd.date,\n    expenses: Math.round(Number(dd.expenses) || 0),\n    income: Math.round(Number(dd.income) || 0),\n    balance: Math.round(Number(dd.balance) || 0)\n  })) : []\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        192
      ],
      "id": "06bbf0d3-af95-4571-ad07-0a530a65da02",
      "name": "Prep Weekly PDF"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Get Monthly Data').first().json;\nconst cats = Array.isArray(d.category_breakdown) ? d.category_breakdown : [];\nconst weeks = Array.isArray(d.weekly_data) ? d.weekly_data : [];\n\nconst expTotal = Math.round(Number(d.expenses_total) || 0);\nconst incTotal = Math.round(Number(d.income_total) || 0);\nconst balance = Math.round(Number(d.balance) || 0);\nconst budgetAmt = Math.round(Number(d.budget_amount) || 0);\nconst budgetUsedPct = Math.round(Number(d.budget_used_percent) || 0);\nconst budgetRemaining = budgetAmt > 0 ? budgetAmt - expTotal : 0;\nconst avgDailyExp = Math.round(Number(d.avg_daily) || 0);\nconst avgDailyInc = Math.round(Number(d.avg_daily_income) || 0);\n\nreturn { json: {\n  user_name: d.first_name || 'Пользователь',\n  period: (d.month_name || '').trim(),\n  currency_symbol: 'KGS',\n  \n  total_expenses: expTotal,\n  total_expenses_formatted: expTotal.toLocaleString('ru-RU') + ' KGS',\n  total_income: incTotal,\n  total_income_formatted: incTotal.toLocaleString('ru-RU') + ' KGS',\n  balance: balance,\n  balance_formatted: (balance >= 0 ? '+' : '') + balance.toLocaleString('ru-RU') + ' KGS',\n  \n  transaction_count: (Number(d.expenses_count) || 0) + (Number(d.income_count) || 0),\n  \n  budget_amount: budgetAmt,\n  budget_amount_formatted: budgetAmt > 0 ? budgetAmt.toLocaleString('ru-RU') + ' KGS' : 'Не задан',\n  budget_used: expTotal,\n  budget_used_formatted: expTotal.toLocaleString('ru-RU') + ' KGS',\n  budget_used_percent: budgetUsedPct,\n  budget_remaining: budgetRemaining,\n  budget_remaining_formatted: budgetRemaining.toLocaleString('ru-RU') + ' KGS',\n  \n  avg_daily_expense: avgDailyExp,\n  avg_daily_expense_formatted: avgDailyExp.toLocaleString('ru-RU') + ' KGS',\n  avg_daily_income: avgDailyInc,\n  avg_daily_income_formatted: avgDailyInc.toLocaleString('ru-RU') + ' KGS',\n  \n  top_categories: cats.slice(0, 5).map(c => ({\n    name: c.category,\n    amount: Math.round(Number(c.total) || 0),\n    percentage: c.percent || 0\n  })),\n  \n  expense_breakdown: cats.map(c => ({\n    category: c.category,\n    amount: Math.round(Number(c.total) || 0),\n    amount_formatted: Math.round(Number(c.total) || 0).toLocaleString('ru-RU') + ' KGS',\n    percentage: c.percent || 0,\n    count: c.count || 0\n  })),\n  \n  weekly_data: weeks.map(w => ({\n    label: w.label,\n    expenses: Math.round(Number(w.expenses) || 0),\n    income: Math.round(Number(w.income) || 0)\n  })),\n  \n  forecast_expense: Math.round(avgDailyExp * 30),\n  forecast_expense_formatted: Math.round(avgDailyExp * 30).toLocaleString('ru-RU') + ' KGS',\n  forecast_income: Math.round(avgDailyInc * 30),\n  forecast_income_formatted: Math.round(avgDailyInc * 30).toLocaleString('ru-RU') + ' KGS',\n  forecast_balance: Math.round((avgDailyInc - avgDailyExp) * 30),\n  forecast_balance_formatted: Math.round((avgDailyInc - avgDailyExp) * 30).toLocaleString('ru-RU') + ' KGS'\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        384
      ],
      "id": "d4a2c9e1-56ca-4c21-9fe1-0c671ae1e72e",
      "name": "Prep Monthly PDF"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Get Period Data').first().json;\nconst cats = d.category_breakdown || [];\nconst daily = d.daily_data || [];\n\nreturn { json: {\n  user_name: d.first_name || 'Пользователь',\n  period: `${d.period_start} — ${d.period_end}`,\n  period_days: d.period_days,\n  currency_symbol: 'KGS',\n  total_expenses: Math.round(Number(d.expenses_total) || 0),\n  total_expenses_formatted: `${Math.round(Number(d.expenses_total) || 0).toLocaleString('ru-RU')} KGS`,\n  total_income: Math.round(Number(d.income_total) || 0),\n  total_income_formatted: `${Math.round(Number(d.income_total) || 0).toLocaleString('ru-RU')} KGS`,\n  balance: Math.round(Number(d.balance) || 0),\n  balance_formatted: `${Math.round(Number(d.balance) || 0).toLocaleString('ru-RU')} KGS`,\n  transaction_count: (Number(d.expenses_count) || 0) + (Number(d.income_count) || 0),\n  avg_daily_expense: Math.round(Number(d.avg_daily) || 0),\n  avg_daily_expense_formatted: `${Math.round(Number(d.avg_daily) || 0).toLocaleString('ru-RU')} KGS`,\n  category_totals: Array.isArray(cats) ? cats.map(c => ({ category: c.category, category_total: Math.round(Number(c.total) || 0), percentage: c.percent || 0 })) : [],\n  daily_data: Array.isArray(daily) ? daily.map(dd => ({ date: dd.day, expenses: Math.round(Number(dd.expenses) || 0) })) : []\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        576
      ],
      "id": "133cd4b9-6f73-4589-9f32-a6f78be4c5ce",
      "name": "Prep Period PDF"
    },
    {
      "parameters": {
        "resource": "pdf",
        "pdfTemplateId": "5a677b23ed6c2fe6",
        "jsonParameters": true,
        "propertiesJson": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        1792,
        192
      ],
      "id": "9b8774e8-b2ee-41f5-8e1e-4102af46883f",
      "name": "Generate Weekly PDF",
      "credentials": {
        "apiTemplateIoApi": {
          "id": "SFjzNA4aZEge94vQ",
          "name": "APITemplate.io account"
        }
      }
    },
    {
      "parameters": {
        "resource": "pdf",
        "pdfTemplateId": "c1177b23eddd4e88",
        "jsonParameters": true,
        "propertiesJson": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        1792,
        384
      ],
      "id": "9c40499d-c6c6-4f0a-8ac9-2cd7d591f282",
      "name": "Generate Monthly PDF",
      "credentials": {
        "apiTemplateIoApi": {
          "id": "SFjzNA4aZEge94vQ",
          "name": "APITemplate.io account"
        }
      }
    },
    {
      "parameters": {
        "resource": "pdf",
        "pdfTemplateId": "49c77b23ede0d4e6"
      },
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        1792,
        576
      ],
      "id": "6c137205-67d3-4d03-95f5-26af8177eac4",
      "name": "Generate Period PDF",
      "credentials": {
        "apiTemplateIoApi": {
          "id": "SFjzNA4aZEge94vQ",
          "name": "APITemplate.io account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Get Weekly Data').first().json.chat_id }}",
        "file": "={{ $json.download_url }}",
        "additionalFields": {
          "caption": "📊 Недельный отчёт (PDF)",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        192
      ],
      "id": "63e489fb-3e53-486e-a202-4a5d109a10a4",
      "name": "Send Weekly PDF",
      "webhookId": "46486394-7325-456c-ab04-a20d2b3b8776",
      "credentials": {
        "telegramApi": {
          "id": "muLBxDioRmwKQgZe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Get Monthly Data').first().json.chat_id }}",
        "file": "={{ $json.download_url }}",
        "additionalFields": {
          "caption": "📅 Месячный отчёт (PDF)",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        384
      ],
      "id": "7e4d6187-3c28-4dad-b63c-fb6015f040e3",
      "name": "Send Monthly PDF",
      "webhookId": "5aa7525e-2532-4ba8-8be4-c049bde8a190",
      "credentials": {
        "telegramApi": {
          "id": "muLBxDioRmwKQgZe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Get Period Data').first().json.chat_id }}",
        "file": "={{ $json.download_url }}",
        "additionalFields": {
          "caption": "📆 Отчёт за период (PDF)",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        576
      ],
      "id": "3230666b-d4d7-4083-9882-57c47ccf49d9",
      "name": "Send Period PDF",
      "webhookId": "967108b5-d356-47cc-a1d8-23c62b7dd37a",
      "credentials": {
        "telegramApi": {
          "id": "muLBxDioRmwKQgZe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO saved_reports (user_id, report_type, title, period_start, period_end, pdf_url, report_data) VALUES ({{ $('Get Weekly Data').first().json.user_id }}, 'weekly', 'Недельный отчёт', '{{ $('Get Weekly Data').first().json.period_start_date }}'::date, '{{ $('Get Weekly Data').first().json.period_end_date }}'::date, '{{ $('Generate Weekly PDF').first().json.download_url || '' }}', '{{ JSON.stringify($('Get Weekly Data').first().json).replace(/'/g, \"''\") }}'::jsonb) RETURNING id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        192
      ],
      "id": "d7840c7f-19bc-4293-8ac4-efee5e91641c",
      "name": "Save Weekly",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO saved_reports (user_id, report_type, title, period_start, period_end, pdf_url, report_data) VALUES ({{ $('Get Monthly Data').first().json.user_id }}, 'monthly', 'Месячный отчёт', '{{ $('Get Monthly Data').first().json.period_start_date }}'::date, '{{ $('Get Monthly Data').first().json.period_end_date }}'::date, '{{ $('Generate Monthly PDF').first().json.download_url || '' }}', '{{ JSON.stringify($('Get Monthly Data').first().json).replace(/'/g, \"''\") }}'::jsonb) RETURNING id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        384
      ],
      "id": "306813f0-be04-468a-8598-a217ca8edb18",
      "name": "Save Monthly",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO saved_reports (user_id, report_type, title, period_start, period_end, pdf_url, report_data) VALUES ({{ $('Get Period Data').first().json.user_id }}, 'period', 'Отчёт за период', '{{ $('Get Period Data').first().json.period_start_date }}'::date, '{{ $('Get Period Data').first().json.period_end_date }}'::date, '{{ $('Generate Period PDF').first().json.download_url || '' }}', '{{ JSON.stringify($('Get Period Data').first().json).replace(/'/g, \"''\") }}'::jsonb) RETURNING id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        576
      ],
      "id": "a8e83c0c-19eb-4ff9-b4e1-030aa13c07ff",
      "name": "Save Period",
      "credentials": {
        "postgres": {
          "id": "vJuvkUWrU29pjm5o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res",
              "name": "result",
              "value": "✅ Недельный отчёт с PDF отправлен",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        192
      ],
      "id": "8b4d4a08-2c96-4cb9-9d72-3b408e9667f9",
      "name": "Weekly Result"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res",
              "name": "result",
              "value": "✅ Месячный отчёт с PDF отправлен",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        384
      ],
      "id": "5660d910-6ebb-417c-806f-5e8b027301a3",
      "name": "Monthly Result"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res",
              "name": "result",
              "value": "✅ Отчёт за период с PDF отправлен",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        576
      ],
      "id": "71808329-509c-49a6-8170-8792b57ed80c",
      "name": "Period Result"
    }
  ],
  "connections": {
    "Reports Webhook": {
      "main": [
        [
          {
            "node": "Normalize Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Data": {
      "main": [
        [
          {
            "node": "Report Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 21:00": {
      "main": [
        [
          {
            "node": "Get Users Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Sunday 10:00": {
      "main": [
        [
          {
            "node": "Get Users Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly 1st 10:00": {
      "main": [
        [
          {
            "node": "Get Users Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users Daily": {
      "main": [
        [
          {
            "node": "Set Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users Weekly": {
      "main": [
        [
          {
            "node": "Set Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users Monthly": {
      "main": [
        [
          {
            "node": "Set Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Daily": {
      "main": [
        [
          {
            "node": "Report Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Weekly": {
      "main": [
        [
          {
            "node": "Report Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Monthly": {
      "main": [
        [
          {
            "node": "Report Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Router": {
      "main": [
        [
          {
            "node": "Get Daily Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Weekly Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Monthly Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Period Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Data": {
      "main": [
        [
          {
            "node": "Format Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weekly Data": {
      "main": [
        [
          {
            "node": "Format Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Monthly Data": {
      "main": [
        [
          {
            "node": "Format Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Period Data": {
      "main": [
        [
          {
            "node": "Format Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily": {
      "main": [
        [
          {
            "node": "Send Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Weekly": {
      "main": [
        [
          {
            "node": "Send Weekly Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Monthly": {
      "main": [
        [
          {
            "node": "Send Monthly Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Period": {
      "main": [
        [
          {
            "node": "Send Period Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Daily": {
      "main": [
        [
          {
            "node": "Daily Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Weekly Text": {
      "main": [
        [
          {
            "node": "Prep Weekly PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Monthly Text": {
      "main": [
        [
          {
            "node": "Prep Monthly PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Period Text": {
      "main": [
        [
          {
            "node": "Prep Period PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Weekly PDF": {
      "main": [
        [
          {
            "node": "Generate Weekly PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Monthly PDF": {
      "main": [
        [
          {
            "node": "Generate Monthly PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Period PDF": {
      "main": [
        [
          {
            "node": "Generate Period PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Weekly PDF": {
      "main": [
        [
          {
            "node": "Send Weekly PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Monthly PDF": {
      "main": [
        [
          {
            "node": "Send Monthly PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Period PDF": {
      "main": [
        [
          {
            "node": "Send Period PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Weekly PDF": {
      "main": [
        [
          {
            "node": "Save Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Monthly PDF": {
      "main": [
        [
          {
            "node": "Save Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Period PDF": {
      "main": [
        [
          {
            "node": "Save Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Weekly": {
      "main": [
        [
          {
            "node": "Weekly Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Monthly": {
      "main": [
        [
          {
            "node": "Monthly Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Period": {
      "main": [
        [
          {
            "node": "Period Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fe4e639ffc46975e8f90de7e16a7bfebd538687c60791a8ceecf7b15dc9fb18"
  }
}